@import './../../assets/sass/app'

.wrapperall
  display: flex
  vertical-align: middle
  justify-content: center
  align-items: center
  vertical-align: middle
  height: 90vh
  width: 100vw
  padding-top: 10vh
  z-index: 10
  img
    width: 20vw

.backgroundFrame
  position: absolute
  background-image: url('~@/assets/medias/style/Trame_Blanc.png')
  height: 100vh
  width: 100vw
  z-index: -10
  background-color: $cGrisClairClair

.wrapper
  margin: 0 auto
  position: relative
  width: 24vw
  height: 40vw

.wrapperImg
  position: relative
  z-index: -10
  left: 10%
  opacity: 0
  text-align: right
.title
  font-size: 2.5vw
  margin: 0
.fd
  position: relative
  left: 30%
  width: 75%
.text
  margin-top: 1vw
  margin-bottom: 2vw
  font-size: 0.9vw
.yellow
  background-color: $cJaune
.blue
  background-color: $cBleuClair
.red
  background-color: $cRouge
.yellowBtn
  color: $cJaune
  border: 0.2vw solid $cJaune

.blueBtn
  color: $cBleuClair
  border: 0.2vw solid $cBleuClair
  &:hover
    background: $cJaune
.redBtn
  color: $cRouge
  border: 0.2vw solid $cRouge
.buttons
  font-size: 0.6vw
  padding: 0.5vw 2vw 0.5vw 2vw
.categories
  position: absolute
  height: 0.5vw
  width: 0.5vw
  &__Top
    opacity: 0
    width: 0vw
    top: 3vw
    left: 1vw
  &__Bottom
    opacity: 0
    width: 0vw
    right: 1.6vw
    bottom: 1vw
  &__Left
    opacity: 0
    left: 1vw
    bottom: 1vw
    height: 0vw
  &__Right
    opacity: 0
    top: 3vw
    height: 0vw
    left: 22vw
  &__Other
    opacity: 0
    left: 22vw
    top: 36vw
    height: 0vw

.element__1,.element__2, .element__3
  position: relative
  left: 10%
  top: 10%
  opacity: 0
