<template>

  <div>

    <loading ref="loadedCategories"></loading>

    <div class="backgroundFrame"></div>

    <div class="wrapperall">

      <div class="wrapper" v-for="(item, index) in category" >

        <span class="categories categories__Top" :class="selectColor(item.link)"></span>

        <span class="categories categories__Bottom" :class="selectColor(item.link)"></span>

        <span class="categories categories__Left" :class="selectColor(item.link)"></span>

        <span class="categories categories__Right" :class="selectColor(item.link)"></span>

        <span class="categories categories__Other" :class="selectColor(item.link)"></span>

        <div class="wrapperImg">

          <img class="rdmPictures" :src="randomPictures(item.poster)"></img>

        </div>

        <div class="fd">

          <h1 :class="tools.selectStyle(item.link, 'titre' )" class="element__1 title">{{item.title}}</h1>

          <p class="element__2 text text__GrisClair">{{item.text}}</p>

          <span v-on:click="drawCategory(true,'categories',item.link)" :class="tools.selectStyle(item.link, 'button')" class="buttons element__3">les portraits</span>

        </div>

      </div>

    </div>

  </div>

</template>

<script>

import * as tools from '@/tools/tools'

import { category }  from "@/constants/category.json"

import store  from "@/store"

import loading from'@/components/loading/loading'

export default {

  data () { return { category, tools, 'nextClick': false } },

  methods: {

    randomPictures: (item) => {

      let itemInner = item

      let rand = item[Math.floor(Math.random() * item.length)]

      let pictures = tools.pathFile( rand, 'pictures')

      return pictures

    },

    drawCategory: function(redirect ,model, category) {

      let timeLineCategory = new TimelineMax({})

      let other = Array.from(document.getElementsByClassName(model +  "__Other"))

      let bottom = Array.from(document.getElementsByClassName(model +  "__Bottom"))

      let left = Array.from(document.getElementsByClassName(model +  "__Left"))

      let top = Array.from(document.getElementsByClassName(model +  "__Top"))

      let right = Array.from(document.getElementsByClassName(model +  "__Right"))

      let title = Array.from(document.getElementsByClassName("element__1"))

      let text = Array.from(document.getElementsByClassName("element__2"))

      let button = Array.from(document.getElementsByClassName("element__3"))

      let video = Array.from(document.getElementsByClassName("wrapperImg"))

      if (redirect) {

        this.nextClick = true

        other.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut, height:"0vw", opacity:"0"}, 0.5) })

        bottom.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,width:"0vw", opacity:"0"}, 0.4) })

        left.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,height:"0vw", opacity:"0"}, 0.5)})

        top.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,width:"0vw", opacity:"0"}, 0.4) })

        right.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,height:"0vw", opacity:"0"}, 0.5) })

        title.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"10%", opacity:"0"},0.5) })

        text.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"10%", opacity:"0"},0.6) })

        button.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"10%", opacity:"0"},0.7) })

        video.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"10%", opacity:"0"},0.8) })

        timeLineCategory.add( () => { store.commit('SET_PRELOADING_STATE_LISTES', { screen: "listes", bool : true , category: category } )} )

      } else {

        other.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut, height:"3vw", opacity:"1"}, 0.5) })

        bottom.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,width:"21vw", opacity:"1"}, 0.4) })

        left.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,height:"36vw", opacity:"1"}, 0.5)})

        top.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,width:"21vw", opacity:"1"}, 0.4) })

        right.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,height:"22vw", opacity:"1"}, 0.5) })

        title.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"5%", opacity:"1"},0.5) })

        text.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"5%", opacity:"1"},0.6) })

        button.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"5%", opacity:"1"},0.7) })

        video.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"5%", opacity:"1"},0.8) })

        timeLineCategory.play(-0.5)

        store.commit('SET_LOADING_CONTENT', { content: 'categories', bool : false })

      }
      var grade = "A"

      switch(grade) {
         case "A": {
            break
         }
         case "B": {
            break
         }
         case "C": {
            break
         }
         case "D": {
            break
         }
         default: {
            break
         }
      }
    },

    selectColor: function(category){

      if (category === "raconter") { var color = "yellow" }

      else if (category === "guider") { var color = "blue" }

      else if (category === "conseiller") { var color = "red" }

      return color

    },

  },

  mounted(){

    store.commit('SET_LOADING_STATE', { screen: 'sommaire', bool : true })

    store.watch( (state) => { return store.getters.getLoadingContent("categories") }, () => { if (store.getters.getLoadingContent("categories")){ this.drawCategory(false,'categories', '') } } , { deep: true } )

  },

  beforeRouteLeave (to, from, next) {

    if(to.name === "partenaires" || to.name ==="apropos" || to.name ==="mentionslegales" || to.name ===":profile"){ next() }


    if(!this.nextClick && to.name != ":profile") {

      timeLineCategory.add( () => { store.commit('SET_PRELOADING_STATE_LISTES', { screen: "listes", bool : true , category: to.params.category } )} )

      timeLineCategory.add( () => { next() }, 2 )

    } else {

      let timeLineCategory = new TimelineMax({})

      let other = Array.from(document.getElementsByClassName('categories' +  "__Other"))

      let bottom = Array.from(document.getElementsByClassName('categories' +  "__Bottom"))

      let left = Array.from(document.getElementsByClassName('categories' +  "__Left"))

      let top = Array.from(document.getElementsByClassName('categories' +  "__Top"))

      let right = Array.from(document.getElementsByClassName('categories' +  "__Right"))

      let title = Array.from(document.getElementsByClassName("element__1"))

      let text = Array.from(document.getElementsByClassName("element__2"))

      let button = Array.from(document.getElementsByClassName("element__3"))

      let video = Array.from(document.getElementsByClassName("wrapperImg"))

      other.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut, height:"0vw", opacity:"0"}, 0.5) })

      bottom.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,width:"0vw", opacity:"0"}, 0.4) })

      left.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,height:"0vw", opacity:"0"}, 0.5)})

      top.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,width:"0vw", opacity:"0"}, 0.4) })

      right.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,height:"0vw", opacity:"0"}, 0.5) })

      title.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"10%", opacity:"0"},0.5) })

      text.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"10%", opacity:"0"},0.6) })

      button.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"10%", opacity:"0"},0.7) })

      video.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"10%", opacity:"0"},0.8) })

      timeLineCategory.add( () => { next() }, 2 )
     }

  },
  watch: {

  '$route' (to, from) {

    this.nextClick = true ? false : true

   }

 },
  components : { loading }

}

</script>

<style scoped lang="sass" type="text/scss" rel="stylesheet/scss" src="./categories.sass"></style>
