<template>

  <div>

    <loading ref="loadedCategories"></loading>

    <div class="backgroundFrame"></div>

    <div class="wrapperall">

      <div class="wrapper" v-for="(item, index) in category" >

        <span class="categories categories__Top" :class="tools.selectColor(item.link)"></span>

        <span class="categories categories__Bottom" :class="tools.selectColor(item.link)"></span>

        <span class="categories categories__Left" :class="tools.selectColor(item.link)"></span>

        <span class="categories categories__Right" :class="tools.selectColor(item.link)"></span>

        <span class="categories categories__Other" :class="tools.selectColor(item.link)"></span>

        <div class="wrapperImg">

          <img class="rdmPictures" :src="randomPictures(item.poster)"></img>

        </div>

        <div class="fd">

          <h1 :class="tools.selectStyle(item.link, 'titre' )" class="element__1 title">{{item.title}}</h1>

          <p class="element__2 text text__GrisClair">{{item.text}}</p>

          <span v-on:click="departureManagement(item.link, 'departure', 'category')" :class="tools.selectStyle(item.link, 'button')" class="buttons element__3">les portraits</span>

        </div>

      </div>

    </div>

  </div>

</template>

<script>

import * as tools from '@/tools/tools'

import { category }  from "@/constants/category.json"

import store  from "@/store"

import loading from'@/components/loading/loading'

export default {

  data () { return { category, tools, 'nextClick': false } },

  methods: {

    randomPictures: (item) => tools.pathFile(item[Math.floor(Math.random() * item.length)], 'pictures'),

    departureManagement: function(category, transition, target) {

      let timeLineCategory = new TimelineMax({})

      let other = Array.from(document.getElementsByClassName("categories__Other"))

      let bottom = Array.from(document.getElementsByClassName("categories__Bottom"))

      let left = Array.from(document.getElementsByClassName("categories__Left"))

      let top = Array.from(document.getElementsByClassName("categories__Top"))

      let right = Array.from(document.getElementsByClassName("categories__Right"))

      let title = Array.from(document.getElementsByClassName("element__1"))

      let text = Array.from(document.getElementsByClassName("element__2"))

      let button = Array.from(document.getElementsByClassName("element__3"))

      let video = Array.from(document.getElementsByClassName("wrapperImg"))

      switch(transition) {

        case "departure": {

          this.nextClick = true

          other.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut, height:"0vw", opacity:"0"}, 0.5) })

          bottom.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,width:"0vw", opacity:"0"}, 0.4) })

          left.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,height:"0vw", opacity:"0"}, 0.5)})

          top.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,width:"0vw", opacity:"0"}, 0.4) })

          right.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,height:"0vw", opacity:"0"}, 0.5) })

          title.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"10%", opacity:"0"},0.5) })

          text.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"10%", opacity:"0"},0.6) })

          button.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"10%", opacity:"0"},0.7) })

          video.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"10%", opacity:"0"},0.8) })

          switch (target) {

            case "category": {

              timeLineCategory.add( () => { store.commit('SET_PRELOADING_STATE_LISTES', { screen: "listes", bool : true , category: category } ) } )

              break

            }

            case "profile": {

              break

            }

            case "other": {

              break
            }

          }

          break

        }

        case "toSommaire": {

          other.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut, height:"3vw", opacity:"1"}, 0.5) })

          bottom.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,width:"21vw", opacity:"1"}, 0.4) })

          left.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,height:"36vw", opacity:"1"}, 0.5)})

          top.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,width:"21vw", opacity:"1"}, 0.4) })

          right.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,height:"22vw", opacity:"1"}, 0.5) })

          title.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"5%", opacity:"1"},0.5) })

          text.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"5%", opacity:"1"},0.6) })

          button.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"5%", opacity:"1"},0.7) })

          video.forEach(function(element) { timeLineCategory.to(element, 0.3, {ease: Power2.easeOut,left:"5%", opacity:"1"},0.8) })

          timeLineCategory.play(-0.5)

          store.commit('SET_LOADING_CONTENT', { content: 'categories', bool : false })

          break

        }

      }

    },

  },

  mounted(){

    store.commit('SET_LOADING_STATE', { screen: 'sommaire', bool : true })

    store.watch( (state) => { return store.getters.getLoadingContent("categories") }, () => { if (store.getters.getLoadingContent("categories")){ this.departureManagement('',"toSommaire",'') } } , { deep: true } )

  },

  beforeRouteLeave (to, from, next) {

    if(to.name === "partenaires" || to.name ==="apropos" || to.name ==="mentionslegales" || to.name ===":profile"){ next() }

    if(!this.nextClick && to.name != ":profile") {

      console.log("IF NEXTCLICK & NAME",to)

      let timeLineCategory = new TimelineMax({})

      timeLineCategory.add( () => { this.departureManagement(to.params.category,'departure', to) } )

      timeLineCategory.add( () => { next() }, 2 )

    } else {

      next()
      // console.log("beforeRouteLeave 2")

      // let timeLineCategory = new TimelineMax({})

      // timeLineCategory.add( () => { next() }, 2 )
     }

  },
  watch: {

  '$route' (to, from) {

    this.nextClick = true ? false : true

   }

 },
  components : { loading }

}

</script>

<style scoped lang="sass" type="text/scss" rel="stylesheet/scss" src="./categories.sass"></style>
