<template>

  <div>

    <span :id="model+'-top'" :class="SelectModel(model, 'Top', color)"></span>

    <span :class="SelectModel(model, 'Bottom', color)"></span>

    <span :class="SelectModel(model, 'Left', color)" ></span>

    <span :class="SelectModel(model, 'Right', color)" :style="height(count)"></span>

    <span :class="SelectModel(model, 'Other', color)"></span>

  </div>

</template>

<script>

import * as tools from '@/tools/tools'

export default {

  props: ['model', 'color', 'count'],

  data () { return { tools } },

  methods: {

    draw: (model) => {

      var other = document.getElementsByClassName(model + "__Other")

      var bottom = document.getElementsByClassName(model +  "__Bottom")

      var left = document.getElementsByClassName(model + "__Left")

      var top = document.getElementsByClassName(model +  "__Top")

      var right = document.getElementsByClassName(model + "__Right")

      var elem   = top[0]

      var widthh = getComputedStyle(elem).getPropertyValue("width")

      top[0].style.width = "0vw"


      other[0].style.height = '2.96vw'; document.getElementsByClassName("intro__Other")[0].style.opacity = '1'
      // tools.oneTimeEvent(document.getElementsByClassName("intro__Other")[0], "transitionend", 'draw')

      other[0].addEventListener("transitionend", function(event) { bottom[0].style.width = '23vw'; bottom[0].style.opacity = '1' }, false)

      bottom[0].addEventListener("transitionend", function(event) { left[0].style.height = '13vw'; left[0].style.opacity = '1' }, false)

      left[0].addEventListener("transitionend", function(event) { top[0].style.width = widthh; top[0].style.opacity = '1' }, false)

      top[0].addEventListener("transitionend", function(event) { right[0].style.height = '4vw'; right[0].style.opacity = '1' }, false)

      var title = document.getElementsByClassName("title__Blanc")[0].getElementsByTagName('span')

      title[0].style.left = '0%'

      title[0].style.opacity = '1'

      title[0].addEventListener("transitionend", function(event) { title[1].style.left = '0%'; title[1].style.opacity = '1' }, false)


    },
    unDraw: () => {

      var other = document.getElementsByClassName("intro__Other")

      var bottom = document.getElementsByClassName("intro__Bottom")

      var left = document.getElementsByClassName("intro__Left")

      var top = document.getElementsByClassName("intro__Top")

      var right = document.getElementsByClassName("intro__Right")


      right[0].style.height = '0vw'; right[0].style.opacity = '0'

      right[0].addEventListener("transitionend", function(event) { top[0].style.width = '0vw'; top[0].style.opacity = '0' }, false)

      // bottom[0].addEventListener("transitionend", function(event) { left[0].style.height = '13vw'; left[0].style.opacity = '1' }, false)

      // left[0].addEventListener("transitionend", function(event) { top[0].style.width = '23vw'; top[0].style.opacity = '1' }, false)

      // top[0].addEventListener("transitionend", function(event) { right[0].style.height = '4vw'; right[0].style.opacity = '1' }, false)

      var title = document.getElementsByClassName("title__Blanc")[0].getElementsByTagName('span')

      title[0].style.left = '10%'

      title[0].style.opacity = '0'

      title[0].addEventListener("transitionend", function(event) { title[1].style.left = '10%'; title[1].style.opacity = '0' }, false)

    },

    // height: function(count) { return { height:  ( ( 34 - (count * 3) + 3 )  ) + 'vw' } },
    height: function(count) {
      if (this.model === "profile"){

      let test = 46 - (count * 4.5) - 1.5

        return { height:  test + 'vw' }
     }
     },

    SelectModel: (model, position, category) => {

      if (model === "categories" || model === "listes" || model === "profile") {

        if (category === "raconter") { var color = "yellow" }

        else if (category === "guider") { var color = "blue" }

        else if (category === "conseiller") { var color = "red" }

        let value = [model + ' '+ model + '__' + position + ' ' + color]

        return value.join(' ')

      } else {

        let value = [model + ' '+ model + '__' + position]

        return value.join(' ')

      }

    }

  },
  mounted(){

    this.$on('ready', function () {

      this.draw('intro')

      setTimeout(() => {

          // this.unDraw()

          // this.mount = true

          // document.getElementById('overlay').remove()

          // this.intro = false

        }, 4500)

      })

    },


}

</script>

<style scoped lang="sass" type="text/scss" rel="stylesheet/scss" src="./frame.sass">
