@import './../../assets/sass/app'

// .intro
//   background: $cVertClair
//   // border: 0.3vw solid $cVertClair
//   position: absolute
//   height: 0.5vw
//   width: 0.5vw
//   &__Top
//     transition: all 0.3s
//     width: 23vw
//     left: -4vw
//     bottom: 13vw
//     opacity: 0
//   &__Bottom
//     transition: all 0.3s
//     width: 0vw
//     right: 11vw
//     bottom: 0vw
//     opacity: 0
//   &__Left
//     transition: all 0.3s
//     right: 34vw
//     bottom: 0vw
//     height: 0vw
//     opacity: 0
//   &__Right
//     transition: all 0.3s
//     top: 1vw
//     height: 0vw
//     left: 19vw
//     opacity: 0
//   &__Other
//     transition: all 0.3s
//     left: 19vw
//     top: 11vw
//     height: 0vw
//     opacity: 0


// .titre
//   border: 0.3vw solid $cVertClair
//   position: absolute
//   &__Top
//     width: 21vw
//     top: 0vw
//     left: -3vw
//   &__Bottom
//     width: 21vw
//     left: -3.5vw
//     bottom: -7vw
//   &__Left
//     left: -3vw
//     top: 0vw
//     height: 34vw
//   &__Right
//     top: 0vw
//     height: 6vw
//     left: 18vw
//   &__Other
//     left: 18vw
//     bottom: -7vw
//     height: 2vw

.categories
  border: 0.3vw solid $cVertClair
  position: absolute
  &__Top
    width: 20vw
    top: 4vw
    left: 0vw
  &__Bottom
    width: 20vw
    left: 0vw
    bottom: 0vw
  &__Left
    left: 0vw
    top: 4vw
    height: 35vw
  &__Right
    top: 4vw
    height: 23vw
    left: 20vw
  &__Other
    left: 20vw
    bottom: 0vw
    height: 2vw

.listes
  border: 0.3vw solid $cVertClair
  position: absolute
  &__Top
    width: 30vw
    top: 2vw
    left: 5vw
  &__Bottom
    width: 30vw
    left: 5vw
    bottom: 0vw
  &__Left
    left: 5vw
    top: 2vw
    height: 17vw
  &__Right
    top: 2vw
    height: 1vw
    left: 35vw
  &__Other
    left: 35vw
    bottom: 0vw
    height: 2vw

.loading
  border: 0.3vw solid $cVertClair
  position: absolute
  &__Top
    width: 17vw
    top: 2vw
    left: -2vw
  &__Bottom
    width: 17vw
    left: -2vw
    bottom: 0vw
  &__Left
    left: -2vw
    top: 2vw
    height: 11.5vw
  &__Right
    top: 2vw
    height: 3vw
    left: 15vw
  &__Other
    left: 15vw
    bottom: 0vw
    height: 2vw

.menu
  // border: 0.12vw solid $cVertClair
  height: 0.23vw
  width: 0.2vw
  background-color: $cVertClair
  position: absolute
  &__Top
    width: 6vw
    top: 0.5vw
    left: 1vw
  &__Bottom
    width: 6vw
    left: 1vw
    bottom: 0.5vw
  &__Left
    left: 1vw
    top: 0.5vw
    height: 3.4vw
  &__Right
    top: 0.5vw
    height: 1.3vw
    left: 7vw
  &__Other
    left: 7vw
    bottom: 0.5vw
    height: 0.4vw
.profile
  // border: 0.12vw solid $cVertClair
  height: 0.5vw
  width: 0.5vw
  position: absolute
  &__Top
    transition: all 0.5s
    width: 5vw
    top: 5vw
    right: 0vw
  &__Bottom
    transition: all 0.5s
    width: 5vw
    right: 0vw
    bottom: 6vw
  &__Left
    transition: all 0.5s
    right: 5vw
    top: 5vw
    height: 1vw
  &__Right
    transition: all 0.5s
    bottom: 6vw
    height: 0vw
    right: 5vw
  &__Other
    transition: all 0.5s
    display: none
    left: 20vw
    bottom: 0vw
    height: 2vw

.yellow
  background-color: $cJaune
  // border: 0.3vw solid $cJaune
.blue
  background-color: $cBleuClair
  // border: 0.3vw solid $cBleuClair
.red
  background-color: $cRouge
  // border: 0.3vw solid $cRouge
