<template>

  <section class="section">

    <router-view/>

  </section>

</template>

<script>

export default { data () { return { } } }

</script>

<style scoped lang="sass" type="text/scss" rel="stylesheet/scss" src="./accueil.sass"></style>
