@import './../../assets/sass/app'

.menu
  z-index: 100
  height: 10vh
  // height: 100%
  // border: 1px solid blue
  position: fixed
  width: 100%
  text-align: center
  // background: white
  &__logo
    cursor: pointer
    // margin-top: 1vw
    color: $cVertClair
    justify-content: center
    vertical-align: middle
    display: flex
    // margin: 0 auto
    display: inline-block
    width: 8vw
    position: fixed
    left: 50%
    z-index: 4
    &__img
      z-index: 1
      // position: absolute
    &--shift
      margin-left: 4vw
    &--title
      font-size: 1vw
  // border: 1px solid blue
  &__return
    margin-top: 1vw
    margin-right: 3vw
    // float: left
    a
      text-decoration: none
      color: black
    position: fixed
    left: .5vw
    z-index: 1
    margin-left: 2vw
    +BrandonMed
    text-transform: uppercase
    font-size: 0.5vw
    img
      width: 1.5vw
      display: block
  &__category
    margin-top: 1.3vw
    h2
      margin: 0
    position: fixed
    left: 6.5vw
    // text-transform: capitalize
    font-size: 1vw
    z-index: 2
    width: 42vw
    text-align: left
    h1,h2
      margin: 0
      display: inline-block
      padding-right: 1vw
    // +media($phone-l)
    //     font-size: 22px
    // margin-left: 2vw
    // float: left
  // &__wrapper

  &__nav
    // &--container
    position: fixed
    right: 0
    display: inline-block
    cursor: pointer
    margin-top: 1vw
    margin-right: 3vw
    +BrandonMed
    text-transform: uppercase
    font-size: 0.65vw
    z-index: 500
  &__overlay
    height: 100%
    width: 0%
    position: fixed
    z-index: 3
    // top: 9vh
    top: 0
    left: 0
    background-color: white
    overflow-x: hidden
    transition: all 0.5s
    &.active
        width: 100%
        height: 100%
        transition: all 0.5s
    a
      text-decoration: none
      font-size: 1vw
      transition: 0.3s
    &--content
      position: relative
      // top: 2vh
      width: 100%
      height: 100%
      text-align: center
      // margin-top: 30px
      background-color: white
    &--wrapper
      display: flex
      justify-content: center
      text-align: left
      padding: 2em
      // margin-top: 30px
      &-categories
        width: 60%
        margin-left: 3%
        margin-top: 10vh
        z-index: 10
        // text-align: left
        // display: block
        .title
          font-size: 3vw
          margin: 0
        flex-grow: 1
        // flex-wrap: wrap
        // margin: 0 auto
          // margin-right: 3vw
      &-link
        display: flex
        flex-direction: column
        flex-wrap: wrap
        height: 60vh
        width: 60%
        max-width: 60%
        .categories
          // border: 1px dotted green
          // width: 44%
          width: 50%
          display: block
          margin-right: 5%
        // padding: 2em
        // border: 1px dotted green
  &__Bottom
    padding: 2em
    // margin-top: 5vw
    position: absolute
    z-index: 0
    width: 100%
    bottom: -2.5vh
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #fff

    .logo
      // float: right
      padding-right: 0em
      text-align: right
    .link
      padding-left: 3em
      // float: left
      +BrandonBlk
      a
        text-decoration: none
        color: $cGrisClair
      text-transform: uppercase

.bar1, .bar2, .bar3
    width: 2vw
    height: 0.22vw
    background-color: $cVertClair
    border-radius: 1vw
    margin: 0.2vw 0
    transition: 0.4s

.change
  // z-index: 20
  .bar1
    -webkit-transform: rotate(-45deg) translate(-4px, 3px)
    transform: rotate(-45deg) translate(-4px, 3px)
  .bar2
    opacity: 0
  .bar3
    -webkit-transform: rotate(45deg) translate(-8px, -8px)
    transform: rotate(45deg) translate(-8px, -8px)


.logo
  text-align: right
  display: flex
  margin-right: 5vw
  hr
    color: black
    background: black
    height: 43px
    width: 3px
    margin-left: 1em
    border: none
    margin-right: 1em
  img
    padding-right: 1vw
.name
  color: $cBlanc
  +BrandonReg
  font-size: 1vw
.statut
  +BrandonBlk
  font-size: 1vw
#back
  cursor: pointer
#back, #pictoBack, #category
  position: relative
  left: 1vw
  opacity: 0
.black
  color: black
.white
  color: white

.region
  text-align: center
  margin-top: 2vh

.rouge
  color: $cRouge
.jaune
  color: $cJaune
.bleu
  color: $cBleu
