<template>

  <div id="navigationMenu" class="menu">

    <div v-if="sommaire" class="menu__return">

      <span id="back" @click="back" :class="colorReturn()">

        <img id="pictoBack" :src="tools.pathFile('return.png', 'logo')" >retour</img>

      </span>

    </div>

    <div v-if="sommaire" class="menu__category">

      <h1 v-if="currentProfile" class="title" :class="tools.selectStyle(current.category, 'titre')">

        <span class="name">{{current.prenom}} {{current.nom}} - </span><span class="statut">{{current.statut}}</span>

      </h1>

      <h2 id="category" v-if="!currentProfile" @click="goTocategory($route.params.category)" class="title" :class="tools.selectStyle($route.params.category, 'titre')">{{$route.params.category}}</h2>

    </div>

    <div @click="reloaddoc()"class="menu__logo">

      <div class="menu__logo__img">

        <frame model="menu"/>

        <h1 class="title menu__logo--title">

          <span>En quête</span>

          <br>

          <span class="menu__logo--shift">d'Histoire</span>

        </h1>

      </div>

    </div>

    <div id="right" class="menu__nav" @click="openNav()">

      <div class="bar1"></div>

      <div class="bar2"></div>

      <div class="bar3"></div>

      menu

    </div>

    <div id="myNav" class="menu__overlay">

      <div v-if="clicked" class="menu__overlay--content">

        <div class="menu__overlay--wrapper">

          <div class="menu__overlay--wrapper-categories">

            <h1 class="title title__Jaune"><router-link class="title title__Jaune" :to="{name: ':category' , params: { category: 'raconter' }}">Raconter</router-link></h1>

            <div class="menu__overlay--wrapper-link">

              <div @click="closeNav()" class="categories" v-for="profile in profiles.raconter">

                <router-link :to="{name: ':profile', params :{category: profile.category, profile: profile.slug}}" class="">

                  <p class="text text__GrisClair bloc__link jaune">

                    {{profile.prenom}} {{profile.nom}}

                    <br><b class="text text__Noir">{{profile.statut}}</b>

                  </p>

                </router-link>

              </div>

            </div>

          </div>

          <div class="menu__overlay--wrapper-categories">

            <h1 class="title title__Bleu"><router-link class="title title__Bleu" :to="{name: ':category' , params: { category: 'guider' }}">Guider</router-link></h1>

            <div class="menu__overlay--wrapper-link">

              <div @click="closeNav()" v-for="profile in profiles.guider">

                <router-link @click="closeNav()" :to="{name: ':profile', params :{category: profile.category, profile: profile.slug}}" class="">

                  <p class="text text__GrisClair bleu">

                    {{profile.prenom}} {{profile.nom}}

                    <br><b class="text text__Noir">{{profile.statut}}</b>

                  </p>

                </router-link>

              </div>

            </div>

          </div>

          <div class="menu__overlay--wrapper-categories">

            <h1 class="title title__Rouge"><router-link class="title title__Rouge" :to="{name: ':category' , params: { category: 'conseiller' }}">Conseiller</router-link></h1>

            <div class="menu__overlay--wrapper-link">

              <div @click="closeNav()" class="categories" v-for="profile in profiles.conseiller">

                <router-link @click="closeNav()" :to="{name: ':profile', params :{category: profile.category, profile: profile.slug}}" class="">

                  <p class="text text__GrisClair rouge">

                    {{profile.prenom}} {{profile.nom}}

                    <br><b class="text text__Noir">{{profile.statut}}</b>

                  </p>

                </router-link>

              </div>

            </div>

          </div>

        </div>

        <div class="menu__Bottom">

          <div class="link">

            <span @click="closeNav()"><router-link :to="{name: ':page' , params: { page: 'apropos' } }">à propos - </router-link></span>

            <span @click="closeNav()"><router-link @click="closeNav()" :to="{name: ':page' , params: { page: 'partenaires' } }">partenaires - </router-link></span>

            <span @click="closeNav()"><router-link @click="closeNav()" :to="{name: ':page' , params: { page: 'mentionslegales' } }">mentions légales</router-link></span>

          </div>

          <div class="logo">

            <a href="https://www.universite-lyon.fr/"><img :src="tools.pathFile('04_black.png', 'logo')" ></img></a>

            <hr/>

            <a href="https://www.univ-lyon2.fr/"><img :src="tools.pathFile('01_black.png', 'logo')" ></img></a>

            <a href="http://www.univ-lyon3.fr/"><img :src="tools.pathFile('03_black.png', 'logo')" ></img></a>

            <a href="https://www.univ-st-etienne.fr/"><img :src="tools.pathFile('05_black.png', 'logo')" ></img></a><br>

            <a href="https://www.auvergnerhonealpes.fr/"><img :src="tools.pathFile('02_black.png', 'logo')" ></img></a>

          </div>

        </div>

      </div>

    </div>

  </div>

</template>

<script>


import frame  from '@/components/frame/frame'

import store  from "@/store"

import * as tools from '@/tools/tools'

export default {

  props: ['mount'],

  data () { return { tools, 'clicked': false, 'backClick': false, 'backClickProfile': false } },

  methods:{

    colorReturn: function(){
      let color = this.$route.name === ':profile' ? 'white' : 'black'
      return color
    },

    goTocategory: function(category){

      this.$router.push( { name: ':category' , params: { category: category } } )

    },

    animateButton: function(){

      let timeLineCategory = new TimelineMax({})

      timeLineCategory.to(document.getElementById("back"), 0.3, {ease: Power0.easeNone, left:"0", opacity:"1"},0)

      timeLineCategory.to(document.getElementById("pictoBack"), 0.6, {ease: Power0.easeNone, left:"0",opacity:"1"},0)

      timeLineCategory.to(document.getElementById("category"), 0.2, {ease: Power0.easeNone, left:"0",opacity:"1"})

      timeLineCategory.play(0)

    },
    animateButtonProfile: function(){

      let timeLineCategory = new TimelineMax({})

      timeLineCategory.to(document.getElementById("back"), 0.3, {ease: Power0.easeNone, left:"0", opacity:"1"},0)

      timeLineCategory.to(document.getElementById("pictoBack"), 0.6, {ease: Power0.easeNone, left:"0",opacity:"1"},0)

      // timeLineCategory.to(document.getElementById("category"), 0.2, {ease: Power0.easeNone, left:"0",opacity:"1"})

      timeLineCategory.play(0)

    },

    back: function(){

      console.log("clicked")


      if (this.$route.name === ":category") {

        this.backClick = true

        let timeLineCategory = new TimelineMax({})

        timeLineCategory.staggerTo(".profile", 1, {left:100, opacity:0, delay:0.5, ease:Circ.easeOut}, 0.1)

        timeLineCategory.to(document.getElementById("back"), 0.2, {ease: Power0.easeNone, opacity:"0"},1)

        timeLineCategory.to(document.getElementById("pictoBack"), 0.2, {ease: Power0.easeNone, opacity:"0"},1)

        timeLineCategory.to(document.getElementById("category"), 0.2, {ease: Power0.easeNone, opacity:"0"},1.2)

        timeLineCategory.add( () => { store.commit('SET_PRELOADING_STATE_LISTES', { screen: "listes", bool : false , category: '' } ) },1.2 )

        // timeLineCategory.add( () => { store.commit('SET_PRELOADING_STATE', { screen: "test", bool : 'back' } ) },1.2 )

        timeLineCategory.play(0)

      }

      if (this.$route.name === ":profile") {

        this.backClick = true

        let timeLineCategory = new TimelineMax({})

        timeLineCategory.to(document.getElementById("back"), 0.2, {ease: Power0.easeNone, opacity:"0"},1)

        timeLineCategory.to(document.getElementById("pictoBack"), 0.2, {ease: Power0.easeNone, opacity:"0"},1)

        timeLineCategory.add( () => {store.commit('SET_PRELOADING_STATE_LISTES', { screen: "listes", bool : true , category: this.$route.params.category } ) } )

        timeLineCategory.add( () => { store.commit('SET_PRELOADING_STATE_PROFILE', { screen : 'profile', bool : false, category : this.$route.params.category, slug : '' } ) } )

        timeLineCategory.play(0)

      }

      if (this.$route.name === "sommaire" || this.$route.name === "apropos" || this.$route.name === "mentionslegales" || this.$route.name === "partenaires")
        this.$router.push( { name: 'sommaire'} )

    },

    reloaddoc: function(){

      window.location.href = "http://enquetedhistoires.fr/#/"

      window.location.reload()

    },

    openNav: function() {

      var x = document.getElementById("myNav")

      if (x.style.width === "0%" || x.style.width === "") {

        x.style.width = "100%"

        this.clicked = true

      } else {

        x.style.width = "0%"

        this.clicked = false

      }

      document.getElementById("right").classList.toggle("change")

    },
    closeNav: function() {

      console.log("CLICKEDDD")

      var x = document.getElementById("myNav")

      if (x.style.width === "0%" || x.style.width === "") {

        x.style.width = "100%"

        this.clicked = true

      } else {

        x.style.width = "0%"

        this.clicked = false

      }

      document.getElementById("right").classList.toggle("change")

    },
  },

  mounted(){

    if (this.$route.name === ":profile"){

      let timeLineNavigation = new TimelineMax({})

      var timeoutFirst

      timeoutFirst = setTimeout(function(){
        timeLineNavigation.to(navigationMenu, 0.2, {ease: Power0.easeNone, opacity:"0"})

      }, 1000)

      var timeout

      document.onmousemove = function(){
        clearTimeout(timeout)
        if (timeoutFirst) {
          clearTimeout(timeoutFirst)
        }
        timeLineNavigation.to(navigationMenu, 0.2, {ease: Power0.easeNone, opacity:"1"})

        timeout = setTimeout(function(){
          timeLineNavigation.to(navigationMenu, 0.2, {ease: Power0.easeNone, opacity:"0"})

        }, 1000)

      }

    }

    if (this.$route.name != "sommaire" || this.$route.name === "apropos" || this.$route.name === "mentionslegales" || this.$route.name === "partenaires")
      this.animateButtonProfile()

    if(this.$route.name === ":category")
      store.commit('SET_PRELOADING_STATE_LISTES', { screen: "listes", bool : true , category: this.$route.params.category } )

    store.watch( (state) => { return store.getters.getLoadingContent("listes") }, () => { if (store.getters.getLoadingContent("listes")) this.animateButton() }, { deep: true } )
    store.watch( (state) => { return store.getters.getLoadingContent("profile") },
    () => {
      this.animateButtonProfile()
    }, { deep: true } )


  },

  computed: {

    current: function() {
      if(this.$route.name === ":profile")
        return store.getters.searchProfile(this.$route.params)
     },

    backPath: function() { return this.$route.params.hasOwnProperty('profile') ? ':category' : 'sommaire' },

    profiles: () =>  store.getters.profiles,

    sommaire: function() {
      if (this.$route.name != "sommaire" || this.$route.name === "apropos" || this.$route.name === "mentionslegales" || this.$route.name === "partenaires")
        return true
      else
      return false
    },

    currentProfile: function() {
      if(this.$route.name === ":profile")
        return this.test = this.$route.name === ":category" ? false : true
    }

  },
  beforeRouteEnter (to, from, next) {
    console.log("* - * BEFORE ROUTE ENTER * - *")
    // this.animateButton()
    next()

  },
  beforeRouteUpdate (to, from, next) {

    console.log("* - * BEFORE ROUTE UPDATE * - *")

    let timeLineCategory = new TimelineMax({})

    if(to.name === "partenaires" || to.name === "apropos"|| to.name ==="mentionslegales"){ next() }


    if ( this.$route.name != ":profile") {


      timeLineCategory.staggerTo(".profile", 1, {left: '50', opacity:0, delay:0.5, ease:Circ.easeOut}, 0.1)

      timeLineCategory.to(document.getElementById("back"), 0.2, {ease: Power0.easeNone, opacity:"0"},1)

      timeLineCategory.to(document.getElementById("pictoBack"), 0.2, {ease: Power0.easeNone, opacity:"0"},1)

      timeLineCategory.to(document.getElementById("category"), 0.2, {ease: Power0.easeNone, opacity:"0"},1.2)

      timeLineCategory.add( () => { store.commit('SET_PRELOADING_STATE_LISTES', { screen: "listes", bool : true , category: to.params.category } ) },1.2 )

      timeLineCategory.add( () => { next()})

      timeLineCategory.play(0)

    } else {

      timeLineCategory.add( () => { store.commit('SET_LOADING_STATE', { screen: "profile", bool : true } ) },1.2 )

      timeLineCategory.add( () => { next()}, 2)

      timeLineCategory.play(0)

      console.log("* - * BEFORE ROUTE UPDATE | ELSE | * - *")

    }

  },
  beforeRouteLeave (to, from, next) {

    console.log("* - * BEFORE ROUTE LEAVE * - *", to)
    next()

    if(to.name === "partenaires" || to.name ==="apropos"|| to.name ==="mentionslegales"){ next() }

    if(!this.backClick && to.name != "partenaires" && to.name != "apropos") {

      if (this.$route.name === ":category" ) {

        console.log("BEFORE ROUTE LEAVE IN IF CATEGORY", to)

        let timeLineCategory = new TimelineMax({})

        timeLineCategory.staggerTo(".profile", 1, { left: '50', opacity:0, delay:0.5, ease:Circ.easeOut}, 0.1)

        timeLineCategory.to(document.getElementById("back"), 0.2, {ease: Power0.easeNone, opacity:"0"},1)

        timeLineCategory.to(document.getElementById("pictoBack"), 0.2, {ease: Power0.easeNone, opacity:"0"},1)

        timeLineCategory.to(document.getElementById("category"), 0.2, {ease: Power0.easeNone, opacity:"0"},1.2)

        timeLineCategory.add( () => { store.commit('SET_PRELOADING_STATE_LISTES', { screen: "listes", bool : false , category: '' } ) },1.2 )

        timeLineCategory.add( () => { next()})

        timeLineCategory.play(0)

      }
      if(this.$route.name === ":profile"){
        // console.log("enter enter enter enter ")
        // next()
      }

    } else {
      // console.log("else next")
      next()
    }

    if (this.$route.name === "sommaire") { next() }
    if (this.$route.name === "partenaires") { next() }
    if (this.$route.name === "apropos") { next() }
    if (this.$route.name === "mentionslegales") { next() }
    // if(this.backClickProfile){
    //   console.log("this.backClickProfile")
    //
      // if (this.$route.name === ":profile") { next() }
    //
    // }

  },
  updated(){
    this.backClick = true ? false : true


    if(this.$route.name === ':category'){
      this.animateButton()

      let timeLineCategory = new TimelineMax({})

      timeLineCategory.staggerTo(".profile", 1, {left: "0",opacity:1, delay:0.5, ease:Circ.easeOut}, 0.1)

      // timeLineCategory.staggerTo(".profile", 1, {opacity:1, delay:0.5, ease:Circ.easeOut}, 0.1)

      timeLineCategory.play(0)
    }

  },

  watch: {

  '$route' (to, from) {

    // if( from.name === ":profile") {
    //   store.commit('SET_PRELOADING_STATE_LISTES', { screen: "listes", bool : "rewind" , category: this.$route.params.category } )
    //
    // }

    // console.log("TO | FROM COMPONENT MENU", to)

    // console.log("FROM | FROM COMPONENT MENU", from)

    // console.log("FROM | FROM COMPONENT MENU", from.name)

    this.backClick = true ? false : true
    // this.backClickProfile = true ? false : true

   }

},

  components: { frame }

}

</script>

<style scoped lang="sass" type="text/scss" rel="stylesheet/scss" src="./menu.sass">
