// @import './../../assets/sass/app'

.buttons
  +BrandonBld
  cursor: pointer
  text-transform: uppercase
  border: 0.2vw solid $cVertClair
  border-radius: 2vw
  color: white
  text-decoration: none

.jauneBtn
  color: $cJaune
  border: 0.2vw solid $cJaune
  &:hover
    color: white
    background: $cJaune
.bleuBtn
  color: $cBleuClair
  border: 0.2vw solid $cBleuClair
  &:hover
    color: white
    background: $cBleuClair
.rougeBtn
  color: $cRouge
  border: 0.2vw solid $cRouge
  &:hover
    color: white
    background: $cRouge
.buttons
  font-size: 0.6vw
  padding: 0.5vw 2vw 0.5vw 2vw


.linkTxt
  +BrandonBld
  text-decoration: none

.jaunetest
  color: $cJaune
.bleu
  color: $cBleuClair
.rouge
  color: $cRouge
