@font-face
	font-family: "Brandon_bld_0"
	src: url('~@/assets/fonts/Brandon_bld_0.otf'),
=BrandonBld
    font-family: 'Brandon_bld_0'

@font-face
	font-family: "Brandon_bld_it_0"
	src: url('~@/assets/fonts/Brandon_bld_it_0.otf'),
=BrandonBldIt
    font-family: 'Brandon_bld_it_0'

@font-face
	font-family: "Brandon_blk_0"
	src: url('~@/assets/fonts/Brandon_blk_0.otf'),
=BrandonBlk
    font-family: 'Brandon_blk_0'

@font-face
	font-family: "Brandon_blk_it_0"
	src: url('~@/assets/fonts/Brandon_blk_it_0.otf'),
=BrandonBlkIt
    font-family: 'Brandon_blk_it_0'

@font-face
	font-family: "Brandon_light_0"
	src: url('~@/assets/fonts/Brandon_light_0.otf'),
=BrandonLight
    font-family: 'Brandon_light_0'

@font-face
	font-family: "Brandon_light_it_0"
	src: url('~@/assets/fonts/Brandon_light_it_0.otf'),
=BrandonLightIt
    font-family: 'Brandon_light_it_0'

@font-face
	font-family: "Brandon_med_0"
	src: url('~@/assets/fonts/Brandon_med_0.otf'),
=BrandonMed
    font-family: 'Brandon_med_0'

@font-face
	font-family: "Brandon_med_it_0"
	src: url('~@/assets/fonts/Brandon_med_it_0.otf'),
=BrandonMedIt
    font-family: 'Brandon_med_it_0'

@font-face
	font-family: "Brandon_reg_0"
	src: url('~@/assets/fonts/Brandon_reg_0.otf'),
=BrandonReg
    font-family: 'Brandon_reg_0'

@font-face
	font-family: "Brandon_reg_it_0"
	src: url('~@/assets/fonts/Brandon_reg_it_0.otf'),
=BrandonRegIt
    font-family: 'Brandon_reg_it_0'

@font-face
	font-family: "Brandon_thin_0"
	src: url('~@/assets/fonts/Brandon_thin_0.otf'),
=BrandonThin
    font-family: 'Brandon_thin_0'

@font-face
	font-family: "Brandon_thin_it_0"
	src: url('~@/assets/fonts/Brandon_thin_it_0.otf'),
=BrandonThinIt
    font-family: 'Brandon_thin_it_0'

.title
	+BrandonBlk
	&__Blanc
		color: $cBlanc
	&__Jaune
		color: $cJaune
	&__Rouge
		color: $cRouge
	&__Bleu
		color: $cBleuCiel

.text
	+BrandonReg
	&__Blanc
		color: $cBlanc
	&__VertFonce
		color: $cVertFonce
	&__GrisClair
		color: $cGrisClair
	&__Noir
		color: $cNoir
	&__BLK1
		color: $cNoir
		+BrandonBlk

.jaune
  color: $cJaune
.bleu
  color: $cBleuClair
.rouge
  color: $cRouge
