<template>

  <section class="section">

    <loading v-if="dtitre" :mount="mount" ref="loaded"></loading>

    <div class="" v-if="load">

      <player v-if="pathRoute"src="intro.mp4" ref="player"></player>

      <div v-if="intro" class="wrapper wrapper__Intro">

        <span class="intro intro__Top"></span>

        <span class="intro intro__Bottom"></span>

        <span class="intro intro__Left" ></span>

        <span class="intro intro__Right"></span>

        <span class="intro intro__Other"></span>

        <h1 class="title title__Blanc">

          <span class="firstWord">Pourquoi</span>

          <br>

          <span class="secondWord shift">des études d'histoire ?</span>

        </h1>

      </div>

      <div v-if="titre" class="wrapper wrapper__Titre">

        <span class="titre titre__Top"></span>

        <span class="titre titre__Bottom"></span>

        <span class="titre titre__Left" ></span>

        <span class="titre titre__Right"></span>

        <span class="titre titre__Other"></span>

        <h1 class="title title__Blanc">

          <span class="titre__01">En quête</span>

          <br>

          <span class="titre__02 shift">d'Histoires</span>

        </h1>

        <p class="titre__03 text text__Blanc">

          Que faire après des études d’histoire ? <br>
          Quels sont les débouchés possibles ?<br>

        </p>

        <p class="titre__04 text text__VertFonce">

          Découvrez les témoignages pour trouver <br> les réponses à vos questions !

        </p>

        <span v-on:click="drawDiscoverR('titre')" class="buttons__05 buttons buttons__borderOrFonce">découvrir les histoires</span>

      </div>

    </div>

  </section>

</template>

<script>

const frame  = () => import('@/components/frame/frame')

const player = () => import('@/components/player/player')

const loading = () => import('@/components/loading/loading')

import { TweenMax, Power2, TimelineLite } from "gsap"

import * as tools from '@/tools/tools'

import store  from "@/store"

export default {

  data () { return { 'intro': true, 'titre': false, 'mount': false, 'load': true, 'dtitre': true, 'putain': false, 'pathRoute': true} },

  methods : {

    drawDiscoverR: function(model){

      var timeLineTitreR = new TimelineMax({})

      timeLineTitreR

      .to(document.getElementsByClassName("buttons__05")[0], 0.2, {ease: Power2.easeOut, opacity:"0"})

      .to(document.getElementsByClassName("titre__04")[0], 0.2, {ease: Power2.easeOut,left:"10%", opacity:"0"})

      .to(document.getElementsByClassName("titre__03")[0], 0.2, {ease: Power2.easeOut,left:"10%", opacity:"0"})

      .to(document.getElementsByClassName("title__Blanc")[0].getElementsByTagName('span')[1], 0, {ease: Power2.easeOut,left:"10%", opacity:"0"})

      .to(document.getElementsByClassName("title__Blanc")[0].getElementsByTagName('span')[0], 0, {ease: Power2.easeOut,left:"10%", opacity:"0"}, 0.3)

      .to(document.getElementsByClassName(model +  "__Other")[0], 0.2, {ease: Power2.easeOut, height:"0vw", opacity:"0"})

      .to(document.getElementsByClassName(model +  "__Bottom")[0], 0.2, {ease: Power2.easeOut,width:"0vw", opacity:"0"})

      .to(document.getElementsByClassName(model +  "__Left")[0], 0.2, {ease: Power2.easeOut,height:"0vw", opacity:"0"})

      .to(document.getElementsByClassName(model +  "__Top")[0], 0.2, {ease: Power2.easeOut,width:"0vw", opacity:"0"})

      .to(document.getElementsByClassName(model +  "__Right")[0], 0.2, {ease: Power2.easeOut,height:"0vw", opacity:"0"})

      .add( () => {store.commit('SET_PRELOADING_STATE', { screen: 'sommaire', bool : true }) }, 2)

      timeLineTitreR.play(0)

    },

    drawDiscover: function(model){

      // console.log("DRAWDISCOVER")


      var timeLineTitre = new TimelineMax({delay:0.4})

      timeLineTitre

      .to(document.getElementsByClassName(model +  "__Right")[0], 0.3, {ease: Power2.easeOut,height:"4vw", opacity:"1"})

      .to(document.getElementsByClassName(model +  "__Top")[0], 0.3, {ease: Power2.easeOut,width:"21.6vw", opacity:"1"})

      .to(document.getElementsByClassName(model +  "__Left")[0], 0.3, {ease: Power2.easeOut,height:"32.25vw", opacity:"1"})

      .to(document.getElementsByClassName(model +  "__Bottom")[0], 0.3, {ease: Power2.easeOut,width:"21.6vw", opacity:"1"})

      .to(document.getElementsByClassName(model +  "__Other")[0], 0.3, {ease: Power2.easeOut, height:"2vw", opacity:"1"})

      .to(document.getElementsByClassName("title__Blanc")[0].getElementsByTagName('span')[0], 0, {ease: Power2.easeOut,left:"0%", opacity:"1"}, 1)

      .to(document.getElementsByClassName("title__Blanc")[0].getElementsByTagName('span')[1], 0, {ease: Power2.easeOut,left:"0%", opacity:"1"})

      .to(document.getElementsByClassName("titre__03")[0], 0.3, {ease: Power2.easeOut,left:"0%", opacity:"1"})

      .to(document.getElementsByClassName("titre__04")[0], 0.3, {ease: Power2.easeOut,left:"0%", opacity:"1"})

      .to(document.getElementsByClassName("buttons__05")[0], 0.3, {ease: Power2.easeOut, opacity:"1"})

      timeLineTitre.play(0)

    },

    draw: function(model) {

      let timeLine = new TimelineMax({delay:0.4,paused:true})

      timeLine

      // .to(document.getElementsByClassName(model +  "__Other")[0], 0.3, {ease: Power2.easeOut, height:"2.1vw", opacity:"1"})

      // .to(document.getElementsByClassName(model +  "__Bottom")[0], 0.3, {ease: Power2.easeOut,width:"23.6vw", opacity:"1"})

      // .to(document.getElementsByClassName(model +  "__Left")[0], 0.3, {ease: Power2.easeOut,height:"13.6vw", opacity:"1"})

      // .to(document.getElementsByClassName("title__Blanc")[0].getElementsByTagName('span')[0], 0, {ease: Power2.easeOut,left:"0%", opacity:"1"}, 1)

      // .to(document.getElementsByClassName(model +  "__Top")[0], 0.3, {ease: Power2.easeOut,width:"23.6vw", opacity:"1"})

      // .to(document.getElementsByClassName(model +  "__Right")[0], 0.3, {ease: Power2.easeOut,height:"4vw", opacity:"1"})

      // .to(document.getElementsByClassName("title__Blanc")[0].getElementsByTagName('span')[1], 0, {ease: Power2.easeOut,left:"0%", opacity:"1"})

      .call(this.rewind, [timeLine], this, '+=1')

      timeLine.play(0)

    },

    rewind: function(timeLine) {

      timeLine.tweenTo(0, {onComplete:this.rewindComplete})

      timeLine.reverse(1)

    },

    rewindComplete: function(){

      let timeLineBar = new TimelineMax({delay:0.4,paused:true})

      timeLineBar

      .to(document.getElementsByClassName("vjs-control-bar")[0], 0.3, {ease: Power0.easeNone, width: "95vw"})

      .to(document.getElementById("emitData"), 0.1, {ease: Power0.easeNone, display: "block",opacity: "1"})

      .to(document.getElementById('overlay'), 0.1, {ease: Power0.easeNone, display: "none",opacity: "0"})

      timeLineBar.play(0)

      this.intro = false

    },

  },

  mounted(){

    store.watch( (state) => { return store.getters.getLoadingContent("titre") },() => { if (store.getters.getLoadingContent("titre")) this.draw('intro') }, { deep: true } )

    store.watch( (state) => { return store.getters.getLoadingContent("titreNext") }, () => { if (store.getters.getLoadingContent("titreNext")) this.titre = true }, { deep: true } )

    store.watch( (state) => { return store.getters.getLoadingContent("titreNextDraw") }, () => { if (store.getters.getLoadingContent("titreNextDraw")) this.drawDiscover('titre') },  { deep: true } )

  },

  computed: {

    // pathRoute: function(){
    //   if(this.$route.name === "intro"){
    //
    //     console.log("ROUTE", this.$route.name)
    //
    //     return true
    //
    //   } else {
    //     console.log("ROUTE NON", this.$route.name)
    //
    //     return false
    //   }
    // }

  },
  beforeRouteLeave (to, from, next) {

    store.commit('SET_STOP_VIDEO', { screen: 'stopVideo', bool : true })
    next()

  },
  watch: {

    '$route' (to, from) {

      if(to.name != "intro"){

        // console.log("ROUTE", this.$route.name)

        this.pathRoute = true

        // return true

      } else {

        // console.log("ROUTE NON", this.$route.name)

        this.pathRoute = false

        // return false
      }

    }

  },

  components: { frame, player, loading }

}

</script>

<style lang="sass" type="text/scss" rel="stylesheet/scss" src="./intro.sass">
