<template>

  <section class="section">

    <loading :mount="mount" ref="loaded"></loading>

    <div class="" v-if="load">

    <player @clicked="skip" src="CEDES_01.mp4"></player>

      <div v-if="intro" class="wrapper wrapper__Intro">

        <!-- <frame model="intro" ref="frame"/> -->

        <span class="intro intro__Top"></span>

        <span class="intro intro__Bottom"></span>

        <span class="intro intro__Left" ></span>

        <span class="intro intro__Right"></span>

        <span class="intro intro__Other"></span>

        <h1 class="title title__Blanc">

          <span class="firstWord">Pourquoi</span>

          <br>

          <span class="secondWord shift">des études d'histoire ?</span>

        </h1>

    </div>

    <div v-if="titre" class="wrapper wrapper__Titre">

      <frame model="titre"/>

      <h1 class="title title__Blanc">

        <span>En quête</span>

        <br>

        <span class="shift">d'histoire</span>

      </h1>

      <p class="text text__Blanc">

        Que faire après des études d’histoire ? <br>
        Quels sont les débouchés possibles ?<br>
        Juste une licence ou un master ?

      </p>

      <p class="text text__VertFonce">

        Découvrez nos témoignages pour trouver <br> la réponse à vos questions !

      </p>

      <router-link :to="{name: 'sommaire'}"  class="buttons buttons__borderOrFonce" key="t">découvrir les histoires</router-link>

    </div>

  </div>

  </section>

</template>

<script>

const frame  = () => import('@/components/frame/frame')

const player = () => import('@/components/player/player')

const loading = () => import('@/components/loading/loading')

import { TweenMax, Power2, TimelineLite } from "gsap"

import * as tools from '@/tools/tools'

import store  from "@/store"

export default {

  data () { return { 'intro': true, 'titre': false, 'mount': false, 'load': true} },

  methods : {

    oneTimeEvent: function(node, type, callback, element, properties, size){

      var self = this

      node.addEventListener(type, function(e) {

        e.target.removeEventListener(e.type, arguments[0].callee);

        return (self[callback](element,properties,size))

      })
    },

    initDraw: function(model) {

      var title = document.getElementsByClassName("title__Blanc")[0].getElementsByTagName('span')

      var self = this

      var photo = document.getElementsByClassName(model +  "__Bottom")[0]
      var photo2 = document.getElementsByClassName(model +  "__Left")[0]

      TweenLite.to(photo, 2, {width:"23vw", opacity:"1"});
      TweenLite.to(photo2, 2, {height:"13vw", opacity:"1"});

      document.getElementsByClassName(model + "__Other")[0].style.height = '2.96vw'; document.getElementsByClassName("intro__Other")[0].style.opacity = '1'

      // this.oneTimeEvent(document.getElementsByClassName(model + "__Other")[0], "transitionend", 'draw', document.getElementsByClassName(model +  "__Bottom")[0], 'width', '23vw')

      // this.oneTimeEvent(document.getElementsByClassName(model +  "__Bottom")[0], "transitionend", 'draw', document.getElementsByClassName(model + "__Left")[0], 'height', '13vw')

      this.oneTimeEvent(document.getElementsByClassName(model + "__Left")[0], "transitionend", 'draw', document.getElementsByClassName(model +  "__Top")[0], 'width', '23vw')

      this.oneTimeEvent(document.getElementsByClassName(model +  "__Top")[0], "transitionend", 'draw', document.getElementsByClassName(model +  "__Right")[0], 'height', '4vw')

      this.oneTimeEvent(document.getElementsByClassName(model + "__Left")[0], "transitionend", 'draw', title[0], 'left', '0%')

      this.oneTimeEvent(title[0], "transitionend", 'draw', title[1], 'left', '0%')

    },
    draw: function(element, properties, size) { element.style[properties] = size; element.style.opacity = '1'  },
    unDraw: () => {

      var other = document.getElementsByClassName("intro__Other")

      var bottom = document.getElementsByClassName("intro__Bottom")

      var left = document.getElementsByClassName("intro__Left")

      var top = document.getElementsByClassName("intro__Top")

      var right = document.getElementsByClassName("intro__Right")

      var self = this

      right[0].style.height = '0vw'; right[0].style.opacity = '0'

      right[0].addEventListener("transitionend", function(event) { top[0].style.width = '0vw'; top[0].style.opacity = '0' }, false)

      // bottom[0].addEventListener("transitionend", function(event) { left[0].style.height = '13vw'; left[0].style.opacity = '1' }, false)

      // left[0].addEventListener("transitionend", function(event) { top[0].style.width = '23vw'; top[0].style.opacity = '1' }, false)

      // top[0].addEventListener("transitionend", function(event) { right[0].style.height = '4vw'; right[0].style.opacity = '1' }, false)

      var title = document.getElementsByClassName("title__Blanc")[0].getElementsByTagName('span')

      title[0].style.left = '10%'

      title[0].style.opacity = '0'

      title[0].addEventListener("transitionend", function(event) { title[1].style.left = '10%'; title[1].style.opacity = '0' }, false)

    },

    skip: function(value) { this.titre = value },

  },
  mounted(){

    this.$on('ready', function () {

      this.initDraw('intro')

      setTimeout(() => {

          // this.unDraw()

          // this.mount = true

          // document.getElementById('overlay').remove()

          // this.intro = false

        }, 4500)

      })

    },

  components: { frame, player, loading }

}

</script>

<style lang="sass" type="text/scss" rel="stylesheet/scss" src="./intro.sass">
