@import './../../assets/sass/app'

#emitData
  display: none
  position: relative
  opacity: 0
  // left: 4%
.buttons
  position: absolute
  font-size: 0.6vw
  padding: 0.5vw 1vw 0.5vw 1vw
  cursor: pointer
  &:hover
    background: $cVertClair
.test
  position: absolute
  width: 100vw
  height: 100vh
  z-index: 0
  background-image: url('~@/assets/medias/style/Trame_Bleu.png')
.wrapper
  z-index: 1
  position: absolute
  &__Intro
    bottom: 30%
    left: 15%
    .shift
      margin-left: 4vw
    .title
      font-size: 3vw
  &__Titre
    top: 20%
    left: 12%
    .title
      font-size: 4vw
      margin-bottom: 0%
    .text
      font-size: 1.2vw
      padding-left: 17%
    .shift
      margin-left: 7vw
    .buttons
      left: 17%

.secondWord
  position: relative
  left: 10%
  opacity: 0
  transition: all 0.3s
.firstWord
  transition: all 0.3s
  opacity: 0
  left: 10%
  position: absolute
.titre__01, .titre__02, .titre__03, .titre__04
  transition: all 0.3s
  opacity: 0
  left: 10%
  position: relative
.buttons__05
  opacity: 0
.intro
  background: $cVertClair
  position: absolute
  transition: all 0.3s
  height: 0.6vw
  width: 0.6vw
  &__Top
    transition: all 0.3s
    width: 0vw
    // width: 23vw
    left: -4vw
    bottom: 13vw
    opacity: 0
  &__Bottom
    transition: all 0.3s
    width: 0vw
    right: 11vw
    bottom: 0vw
    opacity: 0
  &__Left
    transition: all 0.3s
    right: 34vw
    bottom: 0vw
    height: 0vw
    opacity: 0
  &__Right
    transition: all 0.3s
    top: 0vw
    height: 0vw
    left: 19vw
    opacity: 0
  &__Other
    transition: all 0.3s
    left: 19vw
    top: 11.4vw
    height: 0vw
    opacity: 0

.titre
  background: $cVertClair
  position: absolute
  height: 0.6vw
  width: 0.6vw
  transition: all 0.3s
  &__Top
    transition: all 0.3s
    width: 0vw
    top: 0vw
    right: 5vw
    opacity: 0
  &__Bottom
    transition: all 0.3s
    width: 0vw
    left: -2.5vw
    bottom: -7vw
    opacity: 0
  &__Left
    transition: all 0.3s
    left: -3vw
    top: 0vw
    height: 0vw
    opacity: 0
  &__Right
    transition: all 0.3s
    bottom: 20.8vw
    height: 0vw
    opacity: 0
    right: 5vw
  &__Other
    opacity: 0
    transition: all 0.3s
    right: 5vw
    bottom: -7vw
    height: 0vw
