@import './../../assets/sass/app'
.wrap
  width: 280vw
.listes
  display: -webkit-box
  // height: 100vh
  width: 100vw
  // padding-top: 8vh
.backgroundFrame
  position: fixed
  background-image: url('~@/assets/medias/style/Trame_Blanc.png')
  height: 100vh
  width: 280vw
  z-index: -10
  background-color: $cGrisClairClair

.listesWrapper
  padding-top: 10vh
.profile
  // border: 1px dashed red
  display: inline-block
  box-sizing: border-box
  height: 20vw
  width: 50vw
  margin: 3vw 3vw 3vw 3vw
  position: relative
  img
    width: 25vw
    float: left
  &__details
    padding-bottom: 2vh
    height: 14vw
    overflow: hidden
    // width: 24vw
    width: 23vw
    margin: 0
    float: right
    text-overflow: ellipsis
    margin-top: 6vw
    img
      width: 25vw
      float: left
    &--title
      +BrandonBlk
      font-size: 1.8vw
      width: 100%
      height: 40%
      text-overflow: ellipsis
      display: block
      overflow: hidden
      margin: 0
    &--statut
      +BrandonBlk
      color: $cNoir
      margin-bottom: 1.5vw
      // width: 50%
      height: 10%
      display: block
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    &--name
      +BrandonReg
      color: $cGrisClair

.buttons
  color: $cNoir
  font-size: 0.6vw
  padding: 0.5vw 2vw 0.5vw 2vw
.jaune
  .title
    color: $cJaune
  .buttons
    border: 0.2vw solid $cJaune
    &:hover
      color: white
      background: $cJaune
.bleu
  .title
    color: $cBleuClair
  .buttons
    border: 0.2vw solid $cBleuClair
    &:hover
      color: white
      background: $cBleuClair
.rouge
  .title
    color: $cRouge
  .buttons
    border: 0.2vw solid $cRouge
    &:hover
      color: white
      background: $cRouge
.yellow
  background-color: $cJaune
.blue
  background-color: $cBleuClair
.red
  background-color: $cRouge
.frameListes
  z-index: 20
  // border: 0.3vw solid $cVertClair
  width: 0.5vw
  height: 0.4vw
  position: absolute
  &__Top
    width: 30vw
    opacity: 0
    top: 2vw
    left: 5vw
  &__Bottom
    opacity: 0
    width: 0vw
    right: 15vw
    bottom: 0vw
  &__Left
    opacity: 0
    left: 5vw
    bottom: 0vw
    height: 0vw
  &__Right
    top: 2vw
    height: 0vw
    opacity: 0
    left: 35vw
  &__Other
    opacity: 0
    left: 35vw
    top: 19vw
    height: 0vw

.mrglft
  margin-left: 5%

.videoListes
  position: absolute
  // display: initial
  opacity: 0
  // display: none
  height: 14vw
.containervideo
  width: 25vw
  height: 25vh
  position: absolute
  img

.loadingListes
  // position: relative
  position: absolute
  width: 25vw
  height: 25vh

.backgroundListes
  left: 0%
  position: absolute
  background: white
  width: 0vw
  height: 25vh
  z-index: 104
.firstListes
  position: absolute
  background: $cJaune
  left: 0%
  width: 0vw
  height: 25vh
  z-index: 105
  transition: all 0.1s
.secondListes
  left: 0%
  transition: all 0.1s
  background: $cBleu
  width: 0vw
  height: 25vh
  position: absolute
  z-index: 106
.thirdListes
  transition: all 0.1s
  left: 0%
  background: $cRouge
  width: 0vw
  height: 25vh
  position: absolute
  z-index: 107
