<template>

  <section id="test"class="listes">

    <loading ref="loadedCategories"></loading>

    <div class="backgroundFrame"></div>

    <div id="scroller" class="listesWrapper">
    <!-- <div id="scroller"> -->
    <!-- <div class="wrap"> -->

      <div  v-on:mouseover="mouseOver(true)" v-on:mouseleave="mouseOver(false)" class="profile staggered"  v-for="(item, index) in profiles">

        <span class="frameListes frameListes__Top" :class="selectColor(item.category)" ></span>

        <span class="frameListes frameListes__Bottom" :class="selectColor(item.category)"></span>

        <span class="frameListes frameListes__Left" :class="selectColor(item.category)"></span>

        <span class="frameListes frameListes__Right" :class="selectColor(item.category)"></span>

        <span class="frameListes frameListes__Other" :class="selectColor(item.category)"></span>



          <div class="containervideo">

            <img :src="tools.pathFile(item.poster, 'poster')"></img>

            <video preload="none" class="videoListes" :poster="tools.pathFile( item.poster, 'poster')">

              <source source="" type="images/jpg"></source>

            </video>

          </div>
          <!-- <video  :data="item.video" v-on:mouseover="mouseOverVideo(true)" v-on:mouseleave="mouseOverVideo(false)" preload="none" class="videoListes" :poster="tools.pathFile( item.poster, 'poster')">

            <source :src="tools.pathFile( item.poster, 'pictures')" type="images/jpg"></source>

          </video> -->

        <div :class="tools.selectStyle(item.category, 'titre')" class="profile__details">

          <h1 class="profile__details--title">«{{item.quote}} »</h1>

          <p class="profile__details--name">  {{item.prenom}} {{item.nom}}<br></p>

          <p class="profile__details--statut"> {{item.statut}} </p>

          <!-- <router-link :to="{path: tools.pathProfiles(item.slug, item.category), meta: { requiresAuth: 123 }}"  class="buttons">Son histoire</router-link> -->

          <!-- <router-link :to="{name: ':profile', params: { category: item.category, profile: item.slug }}"  class="buttons">Son histoire</router-link> -->

          <span v-on:click="goToProfile(item.slug, item.category)" :class="tools.selectStyle(item.link, 'button')" class="buttons element__3">Son histoire</span>

        </div>

      <!-- <video height="150px" class="testvid">

        <source :src="pathFile(item.video)" type="video/mp4"></source>

      </video> -->

      </div>

    </div>

  </section>

</template>

<script>

import * as tools from '@/tools/tools'

import 'gsap'

import Draggable from "gsap/Draggable"

import store  from "@/store"

import loading from'@/components/loading/loading'

const frame  = () => import('@/components/frame/frame')

export default {

  data () { return { tools } },

  computed: {

    profiles: function() { return store.getters.searchCategory(this.$route.params) }

  },

  methods : {

    goToProfile: (slug, category) => {

      let timeLineCategory = new TimelineMax({})

      timeLineCategory.staggerTo(".profile", 1, {left:100, opacity:0, delay:0.5, ease:Circ.easeOut}, 0.1)

      timeLineCategory.add( () => { store.commit('SET_PRELOADING_STATE_PROFILE', { screen : 'profile', bool : true, category : category, slug : slug } ) } )

      timeLineCategory.play(0)

    },

    marginLeft: function(){

      let profiles = Array.from(document.getElementsByClassName("profile"))

      profiles.forEach(function(element) { element.classList.remove("mrglft") })

      if (this.$route.params.category == "guider") profiles[4].classList.add("mrglft")

      if (this.$route.params.category == "raconter") profiles[7].classList.add("mrglft")

      if (this.$route.params.category == "conseiller") profiles[5].classList.add("mrglft")

    },

    mouseOver: function(state){

      if(state){

        var timeLineHover = new TimelineMax({delay:0.4})

        timeLineHover

        .to(event.currentTarget.getElementsByClassName("frameListes__Other")[0], 0.4, {ease: Power2.easeOut, height:"1vw", opacity:"1"},0)

        .to(event.currentTarget.getElementsByClassName("frameListes__Bottom")[0], 0.3, {ease: Power2.easeOut,width:"30vw", opacity:"1"},0)

        .to(event.currentTarget.getElementsByClassName("frameListes__Left")[0], 0.4, {ease: Power2.easeOut,height:"18vw", opacity:"1"},0)

        .to(event.currentTarget.getElementsByClassName("frameListes__Top")[0], 0.3, {ease: Power2.easeOut,width:"30vw", opacity:"1"},0)

        .to(event.currentTarget.getElementsByClassName("frameListes__Right")[0], 0.4, {ease: Power2.easeOut,height:"1vw", opacity:"1"},0)


        timeLineHover.play(0)

      } else {

        var timeLineHover = new TimelineMax({delay:0.4})

        timeLineHover

        .to(event.currentTarget.getElementsByClassName("frameListes__Other")[0], 0.3, {ease: Power2.easeOut, height:"0vw", opacity:"0"}, 0)

        .to(event.currentTarget.getElementsByClassName("frameListes__Bottom")[0], 0.2, {ease: Power2.easeOut,width:"0vw", opacity:"0"}, 0)

        .to(event.currentTarget.getElementsByClassName("frameListes__Left")[0], 0.3, {ease: Power2.easeOut,height:"0vw", opacity:"0"}, 0)

        .to(event.currentTarget.getElementsByClassName("frameListes__Top")[0], 0.2, {ease: Power2.easeOut,width:"0vw", opacity:"0"}, 0)

        .to(event.currentTarget.getElementsByClassName("frameListes__Right")[0], 0.3, {ease: Power2.easeOut,height:"0vw", opacity:"0"}, 0)

        timeLineHover.play(0)

      }

    },

    test: function(state, video){

      if (state) {

          let target = event.currentTarget

          let videoTarget = target.getElementsByTagName('video')[0]

          var timeLineHover = new TimelineMax({})

          .add( () => { videoTarget.src = tools.pathFile(video, 'movies') } )

          .add( () => { videoTarget.load() } )

          .add( () => {videoTarget.play()})

          .to(target.getElementsByTagName('img')[0], 0.2, {ease: Power2.easeOut, opacity:"0"})

          .to(target.getElementsByTagName('img')[0], 0.2, {ease: Power2.easeOut, display:"none"})

          .to(videoTarget, 0.2, {ease: Power2.easeOut, opacity:"1"})

          timeLineHover.play(0)

      } else {


          let target = event.currentTarget

          target.getElementsByTagName('video')[0].pause()

          target.getElementsByTagName('video')[0].src = ""


      }

    },

    enterListes: function(){

      let timeLineCategory = new TimelineMax({})

      timeLineCategory.staggerFrom(".profile", 1, {left:100, opacity:0, delay:0.5, ease:Circ.easeOut}, 0.1)

      timeLineCategory.play(0)

      store.commit('SET_LOADING_CONTENT', { content: 'profiles', bool : false })

    },

    selectColor: function(category){

      if (category === "raconter") { var color = "yellow" }

      else if (category === "guider") { var color = "blue" }

      else if (category === "conseiller") { var color = "red" }

      return color
    },

    ellipsizeTextBox: (id) => {

      let el = Array.from(document.getElementsByClassName(id))

      el.forEach(function(element) {

        let wordArray = element.innerHTML.split(' ')

        while(element.scrollHeight > element.offsetHeight) {

          wordArray.pop()

          element.innerHTML = wordArray.join(' ') + '...'

        }

      })

    },

    // widthWrapper: function() { return { width:  (Object.keys(this.profiles).length * 56 / 2 + 28 >= 168 ? Object.keys(this.profiles).length * 56 / 2 + 28 : 168) + 'vw' } },

    widthWrapper: function() {

      let element = document.getElementById("scroller");

      let size = 0

      if (this.$route.params.category == "guider")

        size = 230

      if (this.$route.params.category == "raconter")

        size = 395

      if (this.$route.params.category == "conseiller")

        size = 285

      element.style.width = (size) + 'vw'

      // return { width:  (size) + 'vw' }
    },

  },
  mounted () {


    store.commit('SET_LOADING_STATE', { screen: 'listes', bool : true })

    Draggable.create("#scroller", {

      type:"x",

      bounds:"#test",

      edgeResistance:0.65,

      throwProps:true,

    })

    TweenMax.set("#scroller",{overflow:'hidden'})

    this.widthWrapper()

    this.marginLeft()

    this.ellipsizeTextBox("profile__details--title")


    store.watch( (state) => {

      return store.getters.getLoadingContent("profiles") },

      () => {

        if (store.getters.getLoadingContent("profiles"))

        this.enterListes()

      }, { deep: true } )

  },
  beforeRouteEnter (to, from, next) {

    next()

  },
  beforeRouteUpdate (to, from, next) {

    next()

  },
  beforeRouteLeave (to, from, next) {

    next()

  },
  updated(){

    if(this.$route.name === ":category")
      this.marginLeft()

  },
  watch: {

    '$route' (to, from) {

      if(this.$route.name === ":category")
        this.widthWrapper()


    }

  },
  components: { frame, loading }

}

</script>

<style scoped lang="sass" type="text/scss" rel="stylesheet/scss" src="./listes.sass"></style>
