<template>

  <section class="wrapperall">

    <h1>{{$route.params.category}}</h1>

    <div class="wrapper" id="wrapper":style="widthWrapper()">

      <div class="profile staggered"  v-for="(item, index) in profiles">

        <!-- <frame model="listes" :color="item.category"/> -->

        <div class="">

          <img :src="pathFile(item.poster, 'pictures')" type="video/mp4"></img>

        </div>

        <div :class="selectStyle(item.category)" class="textWrapper">

          <h1 class="title">«{{item.quote}} »</h1>

          <p class="text text__GrisClair"> {{item.nom}} {{item.prenom}}<br></p>

          <p class="text text__BLK"> {{item.statut}} </p>

          <router-link :to="{path: pathProfile(item.slug, item.category), meta: { userProfile: userProfile(item.id) }}"  class="buttons">les portraits</router-link>

        </div>



      <!-- <video height="150px" class="testvid">

        <source :src="pathFile(item.video)" type="video/mp4"></source>

      </video> -->

      </div>

    </div>

    <!-- <router-view></router-view> -->

  </section>

</template>

<script>

import { profiles }  from "@/constants/profiles.json"

import frame from '@/components/frame/frame'

export default {

  data () {

    return {

      'drag': true,

      'profiles': profiles.categories[this.$route.params.category],

    }

  },

  methods : {

    widthWrapper: function() { return { width:  (Object.keys(this.profiles).length * 56 / 2 + 10 >= 168 ? Object.keys(this.profiles).length * 56 / 2 + 10 : 168) + 'vw' } },

    selectStyle: (category) => {

      if (category === "raconter") { return "jaune" }

      else if (category === "guider") { return "bleu"}

      else if (category === "conseiller") { return "rouge"}

    },

    userProfile: function(id){ return this.profiles[id] },

    pathProfile: function(slug, category)  {

      let res = category + '/' + slug

      res.toLowerCase().replace(/-+/g, '').replace(/\s+/g, '-').replace(/[^a-z0-9-]/g, '')

      return res

    },

    pathFile : (file, folder) => {

      try {

        return require("@/assets/medias/" + folder + "/" + file)

      } catch (e) {

        console.log(e)

      }

    },

  },
  mounted () {

    // window.addEventListener('mousewheel', function (e) {

    // e.deltaY < 0 ?  this.scrollTo(this.pageXOffset - 40, this.pageYOffset - 40) : this.scrollTo(this.pageXOffset + 40, this.pageYOffset + 40)

    // e.preventDefault();

    // })

  },

  components: {

    'frame' : frame

  }

}

</script>

<style scoped lang="sass" type="text/scss" rel="stylesheet/scss" src="./listes.sass"></style>
