<template>

  <section v-if="currentPath"class="player" v-cloak>

    <video v-if="currentPath" id="bg-video" class="video-js vjs-default-skin" >

      <p>Your browser doesn't support video. Please <a href="http://browsehappy.com/">upgrade your browser</a> to see the example.</p>

      <source v-if="currentPath" :src="tools.pathFile( src, 'movies')" type="video/mp4">

        <!-- <track kind="subtitles" :src="tools.pathFile( srt, 'srt')" srclang="fr" label="Français" default> -->
        <track id="track" v-if="textTrack" kind="captions" :src="tools.pathFile( srt, 'srt')" srclang="fr" label="Français" >


      <!-- <source :src="pathFile('CEDES_01.wbm')" type="video/wbm"> -->

    </video>

  </section>

</template>

<script>

import * as tools from '@/tools/tools'

import videojs from 'video.js'

import store  from "@/store"

export default {

  props: ['value', 'src', 'srt'],

  data () { return { player: '', tools, reload: false, profile: false, loopIntro: true } },

  methods : {
    endTest: function(){
      this.player.reset()

      store.commit('SET_PRELOADING_STATE', { screen: 'introNext', bool : true })
      document.getElementById("bg-video").getElementsByTagName('video')[0].removeEventListener('ended', this.endTest)

    },

    mountOverlay: function() {

      let div = document.createElement("div")
      if (!this.loopIntro) {


        div.className = "test"



    }
    this.player.el().appendChild(div)
    div.setAttribute("id", "overlay")

    },

    callbackVideo: function(){

      store.commit('SET_LOADING_STATE', { screen: 'introNext', bool : true })

      document.getElementById("bg-video").getElementsByTagName('video')[0].removeEventListener('loadeddata', this.callbackReload)

    },

    callbackReady: function(){

      // console.log("/// - CALL BACK READY - ///")

      this.reload = true

      store.commit('SET_LOADING_STATE', { screen: 'intro', bool : true })

      document.getElementById("bg-video").getElementsByTagName('video')[0].removeEventListener('loadeddata', this.callbackReady)

    },

    callbackProfile: function(){

      // console.log("/// - CALL BACK VIDEO PROFILE - ///")

      store.commit('SET_LOADING_CONTENT', { content: 'profile', bool : true })

      document.getElementById("bg-video").getElementsByTagName('video')[0].removeEventListener('loadeddata', this.callbackProfile)

    },

  },

  mounted() {

    store.watch( (state) => { return store.getters.getStopVideo("stopVideo") },

      () => {

        videojs(document.getElementById("bg-video_html5_api")).dispose()

      }, { deep: true } )

    store.watch( (state) => { return store.getters.getSrcVideos("intro") },

      () => {

        document.getElementById("bg-video").getElementsByTagName('video')[0].addEventListener("loadeddata", this.callbackVideo)

        this.player.src({type: 'video/mp4', src: this.tools.pathFile('introNext.mp4', 'movies')})

        this.loopIntro = false

        this.mountOverlay()

        this.player.controls(false)

        this.player.loop(true)

      // }


      }, { deep: true } )

    store.watch( (state) => { return store.getters.getSrcVideos("profile") },

      () => {

        // console.log("/// - WATCH GET VIDEO SRC PLAYER - ///")

        document.getElementById("bg-video").getElementsByTagName('video')[0].addEventListener("loadeddata", this.callbackProfile)

      }, { deep: true } )

      var self = this

     this.player =  videojs(document.getElementById("bg-video"), {
      controls: true,

      controlBar: {
        children: [
            "playToggle",
            "volumePanel",
            "captionsButton",
            "durationDisplay",
            "progressControl",
            "timeDivider",
            "currentTimeDisplay",
        ],

        volumePanel: { inline: false },

      },
      bigPlayButton: false,

      AudioTrackButton: false,

      autoplay: true,

      loop: false,

      // muted: false,

      durationDisplay: false,

      preload: 'auto'

    })


    if (this.$route.name === "intro") {

      let Button = videojs.getComponent('Button')

      let NextButton = videojs.extend(Button, {

        constructor: function() {

          Button.apply(this, arguments)

          this.addClass('icon-angle-right')

          this.setAttribute('id', 'emitData')

          this.controlText("Next")

        },

      })

      this.mountOverlay()

      videojs.registerComponent('NextButton', NextButton)

      this.player.getChild('controlBar').addChild('NextButton', {}, 12)

      document.getElementById("emitData").addEventListener('click', function (e) { store.commit('SET_PRELOADING_STATE', { screen: 'introNext', bool : true }) })

      if(!this.reload) {
         document.getElementById("bg-video").getElementsByTagName('video')[0].addEventListener("loadeddata", this.callbackReady)
       }

       if(this.loopIntro){
         var self = this
        document.getElementById("bg-video").getElementsByTagName('video')[0].addEventListener('ended', this.endTest)
       }

    }

    // if(this.$route.name === "intro"){
    //   var self = this
    //   this.player.on('ended', function() {
    //     self.player.reset()
    //
    //     store.commit('SET_PRELOADING_STATE', { screen: 'introNext', bool : true })
    //
    //   })
    //
    // }


    // if(this.$route.name === ":profile") {
    //
    //   console.log("OK CALL TRIGGER")
    //
    //   console.log(document.getElementById("bg-video").getElementsByTagName('video')[0])
    //
    //   document.getElementById("bg-video").getElementsByTagName('video')[0].addEventListener("loadeddata", this.callbackFiche)
    //
    // }

  },
  computed: {

    currentPath: function(){
      return true
      // if (this.$route.name === "intro"){
      //   console.log("CURRENT PATH", this.$route.name)
      //   return true
      //
      // } else {
      //   console.log("ELSE CURRENT PATH", this.$route.name)
      //
      //   return false
      //
      // }


    },

    textTrack: function() {

      let profile = this.$route.name === ":profile" ? true : false

      return profile  },

  },

  updated(){

    if(this.$route.name != "intro" && this.$route.name != ":profile"){

      this.player.dispose()

    }

    this.player.src({type: 'video/mp4', src: this.tools.pathFile(this.src, 'movies')})

    // this.player.textTracks_[0].src({type: '', src: this.tools.pathFile(this.srt, 'srt')})
    //
    //
    // let test = this.tools.pathFile(this.srt, 'srt')
    //
    // console.log("srt before change",this.srt)
    //
    // console.log("path file data",test)
    //
    // console.log("this player textTracks_ [0] src",this.player.textTracks_[0].src)

    // console.log("THIS SRT ==== >",this.srt)

    // console.log("THIS PATHFILE SRT ===== >", this.tools.pathFile(this.srt, 'srt'))

    // console.log("THIS SRT PLAYER ==== >",this.player.textTracks())

    var oldTracks = this.player.remoteTextTracks();

    // console.log(oldTracks)

    // this.player.addRemoteTextTrack( {src: this.tools.pathFile(this.srt, 'srt') }, false)

    // console.log("THIS SRT PLAYER ==== >",this.player.textTracks())

    // var i = oldTracks.length;
    // console.log("testgfdfdgf",i)
    // while (i--) {
    //   this.player.removeRemoteTextTrack(oldTracks[i]);
    // }
    this.player.addRemoteTextTrack( {src: this.tools.pathFile(this.srt, 'srt') }, false)

    // myNewTracks.forEach(function(track) {
    //   this.player.addRemoteTextTrack(track);
    // });
    window.location.reload()


    // this.player.removeRemoteTextTrack(oldTracks[0])


//  change track function
    // var i = oldTracks.length
    // while (i--) {
    //   this.player.removeRemoteTextTrack(oldTracks[i])
    // }

    // myNewTracks.forEach(function(track) {

    //   player.addRemoteTextTrack(track)

    // })

    // this.player.clearTextTracks()

    // this.player.removeRemoteTextTrack()

    // var tracks = this.player.textTracks()

    // console.log(tracks)

    // tracks.forEach((track) => this.textTracks().removeTrack_(track))

    // this.player.textTracks({src : this.tools.pathFile(this.srt, 'srt')})
    //
    // console.log(tracks)
    //
    // for (var i = 0; i < tracks.length; i++) {
    //   var track = tracks[i]
    //
    //   if (track.kind === 'captions' && track.language === 'fr') {
    //     track.mode = 'showing'

    //   }

    // }


  },

  watch: {

    '$route' (to, from) {

    }

  },

}

</script>

<style lang="sass" type="text/scss" rel="stylesheet/scss" src="./player.sass"></style>

<style src="video.js/dist/video-js.min.css"></style>
