@import './../../assets/sass/app'

.player
  position: absolute

.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar
  visibility: visible !important
  opacity: 1 !important
  z-index: 1 !important
.vjs-has-started .vjs-control-bar
  z-index: 1!important
.video-js .vjs-progress-control
  max-width: 100vw

.video-js .vjs-control-bar
  background-color: none !important
  background: none !important
  bottom: 2vw !important

.video-js .vjs-control
  color: $cVertClair !important
  button
    &:hover
      color: $cVertClair
      border: 0.3 dashed $cVertClair
    .vjs-playing
      width: 15vw
.videojs
  button:focus
    outline: 0
.video-js .vjs-play-progress

  background-color: rgba(0, 0, 0, 0) !important

.bg-video-dimensions
  width: 100vw
  height: 100vh
.video-js
  font-size: 17px !important

.vjs-play-control .vjs-control .vjs-button .vjs-playing
  width: 30vw !important

.video-holder .vjs-big-play-button
  left: 50%
  width: 100px
  margin-left: -50px
  height: 80px
  top: 50%
  margin-top: -40px

.icon-angle-right:before
  +BrandonBld
  text-transform: uppercase
  border: 0.2vw solid $cVertClair
  border-radius: 2vw
  color: white
  text-decoration: none
  display: inline-block
  font-size: 0.6vw
  padding: 0.5vw 1vw 0.5vw 1vw
  text-decoration: none
  content: "Passer l'intro"
  width: 7vw

.video-js .icon-angle-right, .video-js .icon-angle-left
    cursor: pointer
    -webkit-box-flex: none
    -moz-box-flex: none
    -webkit-flex: none
    -ms-flex: none
    flex: none

.video-js
  button:focus
    text-shadow: none
    outline-width: 0
    outline-color: transparent
.video-js .vjs-volume-vertical
  background: none !important
  background-color: none !important
.video-js .vjs-control:focus:before, .video-js .vjs-control:hover:before, .video-js .vjs-control:focus
  text-shadow: none !important
// .video-js.vjs-fullscreen .vjs-text-track
//   font-size: 0em !important
// .video-js .vjs-text-track-display
//   font-size: 1.2em !important
.vjs-text-track-display div
  &:nth-child(2)
    margin-top: 9vh
    // display: none
  bottom: 10vh !important
  font-size: 1.2em !important
video::-webkit-media-text-track-container
  bottom: 10.75em !important

.vjs-texttrack-settings
  display: none !important
