<template>

  <section class="bg">

    <router-view name="menu"></router-view>

  <section class="section">

    <!-- <loading ref="loadedCategories"></loading> -->

    <div class="section__partenaires">

      <h1 class="section__partenaires--titre">A propos</h1>

        <p class="section__partenaires--text">
          Les services d’information d’orientation et d’insertion professionnelle des universités Lumière Lyon 2, Jean Moulin Lyon 3, Jean Monnet Saint-Etienne vous offrent l’opportunité de découvrir plusieurs illustrations de parcours professionnels après des études d’Histoire.
          A partir de la réalité observée sur le territoire Auvergne-Rhône-Alpes, ces travaux proposent de nombreux témoignages vidéo de diplômés, d’enseignants-chercheurs issus des trois universités partenaires ainsi que d’employeurs.
          Ce web-documentaire vise à montrer aux lycéens, aux familles et aux étudiants des situations représentatives et concrètes issues de la réalité du terrain, sans pour autant dresser une liste exhaustive de tous les débouchés accessibles aux diplômés d’Histoire.
          Ce projet a été financé par la Région Auvergne-Rhône-Alpes.</p>

    </div>

    <div class="logo">

      <div class="">

        <img class="mrg" :src="tools.pathFile('02_black.png', 'logo')" ></img>

        <img class="mrg" :src="tools.pathFile('04_black.png', 'logo')" ></img>

      </div>

      <div class="">

        <img class="mrg" :src="tools.pathFile('03_black.png', 'logo')" ></img>

        <img class="mrg" :src="tools.pathFile('01_black.png', 'logo')" ></img>

        <img class="mrg" :src="tools.pathFile('05_black.png', 'logo')" ></img>

      </div>

      <div class="regionpartenaires">

        <h2 class="section__partenaires--subTitre">Avec le soutien de la Région Auvergne-Rhône-Alpes </h2>

        <img class="region":src="tools.pathFile('02_black.png', 'logo')" ></img>

      </div>

    </div>

  </section>
</section>
</template>

<script>

import loading from'@/components/loading/loading'

import * as tools from '@/tools/tools'

import store  from "@/store"

export default {

  data () { return { state: false, tools } },

  components : { loading }

}

</script>

<style scoped lang="sass" type="text/scss" rel="stylesheet/scss" src="./propos.sass"></style>
