<template>

  <section class="section">

    <router-view name="menu"></router-view>

    <router-view ></router-view>

  </section>

</template>

<script>

import loading from'@/components/loading/loading'

import store  from "@/store"

export default { data () { return { state: false } },

created () { store.commit('SET_PRELOADING_STATE', { screen: 'intro', bool : true } ) },

components : { loading }

}

</script>

<style scoped lang="sass" type="text/scss" rel="stylesheet/scss" src="./sommaire.sass"></style>
