<template>

  <section class="section">

    <loading ref="loadedCategories"></loading>

    <player class="player" :src="profile.video" :srt="profile.srt"></player>

    <!-- <h1 v-if="error">{{error}}</h1> -->

    <div v-if="profile" class="profile" id="profile">

      <frame model="profile" :color="profile.category" :count="tools.countTitre(this.fiche, 'titre')"/>

      <div class="profile__wrapper">

        <div class="profile__buttons">

          <div v-if="item.titre" v-for="(item, index) in fiche" class="profile__button">

            <span :data-filter="item.titre" @click="openNav()" v-if="item.titre" :class="tools.selectStyle(profile.category, 'button')" class="buttons btn">{{item.titre}}</span>

          </div>

          <span  @click="closeNav()" v-if="closeButton" class="buttons2 buttons2__close" :class="tools.selectStyle(profile.category, 'button')" >&#10005</span>

        </div>

        <div :data-filter="item.titre" class="profile__wrapper--content" v-for="(item, index) in fiche">

          <div class="profile__content">

            <!-- <h1 :class="tools.selectStyle(profile.category, 'titre')" class="profile__content--title">{{item.titre}}</h1> -->

              <span  class="profile__content--text" v-html="item.text"></span>

          </div>

          <br>

          <br>

        </div>

      </div>

    </div>

  </section>

</template>

<script>

import store  from "@/store"

import * as tools from '@/tools/tools'

import loading from'@/components/loading/loading'

import player from '@/components/player/player'

const frame  = () => import('@/components/frame/frame')

export default {

  data () {

    return { tools, 'error': null, 'closeButton': false }

  },

  mounted(){

    store.commit('SET_PRELOADING_STATE_PROFILE', { screen : 'profile', bool : true, category : this.profile.category, slug : this.profile.slug } )

    store.commit('SET_LOADING_STATE', { screen: 'profile', bool : true })

  },
  methods: {

    openNav: function() {

      console.log("CLICKED OPENNAV")

      let matches = document.querySelectorAll('div[data-filter]')

      let self = this

      matches.forEach(function(element) {

        var test = element.getAttribute('data-filter')

        if (element.getAttribute('data-filter') == event.target.getAttribute('data-filter') ) {

          element.style.opacity = "1"

          element.style.display = "block"

        } else {

          element.style.opacity = "0"

          element.style.display = "none"

        }

      })

      var x = document.getElementById("profile")

      if (x.style.width === "0%" || x.style.width === "") {

        x.style.width = "30%"

        this.clicked = true

        let topFrame = document.getElementsByClassName("profile__Top")

        document.getElementsByClassName("profile__Top")[0].style.width = '33vw'

        document.getElementsByClassName("profile__Bottom")[0].style.width = '33vw'

        document.getElementsByClassName("profile__Left")[0].style.right = '33vw'

        document.getElementsByClassName("profile__Right")[0].style.right = '33vw'

        document.getElementsByClassName("profile__Right")[0].style.right = '33vw'

        document.getElementsByClassName("profile__buttons")[0].style.right = '32vw'

        var test = document.getElementsByClassName("profile__Right")[0].style.height

        var res = test.replace("vw", "")

        document.getElementsByClassName("profile__Right")[0].style.height = (parseInt(res) - 3) + 'vw'

        this.closeButton = true

      }

    },
    closeNav: function() {

      var x = document.getElementById("profile")

        x.style.width = "0%"

        document.getElementsByClassName("profile__Top")[0].style.width = '5vw'

        document.getElementsByClassName("profile__Bottom")[0].style.width = '5vw'

        document.getElementsByClassName("profile__Left")[0].style.right = '5vw'

        var test = document.getElementsByClassName("profile__Right")[0].style.height

        var res = test.replace("vw", "")

        document.getElementsByClassName("profile__Right")[0].style.height = (parseInt(res) + 3) + 'vw'

        document.getElementsByClassName("profile__Right")[0].style.right = '5vw'

        document.getElementsByClassName("profile__buttons")[0].style.right = '4vw'

        this.closeButton = false

        this.clicked = false

    },

  },

  updated(){

    // console.log("PROFILE UPDATE FROM COMPONENT PROFILE + / + /",this.profile)

  },

  computed: {

    fiche: function() { return store.getters.searchFiche(this.profile.id) },

    profile: function() { return store.getters.searchProfile(this.$route.params) },

  },

  components: { player, frame, loading }

}

</script>

<style scoped lang="sass" type="text/scss" rel="stylesheet/scss" src="./profile.sass"></style>
<!-- {

  "category": [
    {
      "video": "CEDES_01.mp4",
      "poster": ["ThomasLascombe.jpg","JeromeLac.jpg","AdrienAllier.jpg","TristanVuillet.jpg","LouisBaldasseroni.jpg","NicolasAucourt.jpg","LionelLacour.jpg", "NathalieBlanc.jpg", "LionelMignot.jpg","SylvainChomienne.jpg","AudreyRoche.jpg","LauryDugand.jpg", "ClaireMontchamp.jpg"],
      "title": "Raconter",
      "text": "Les anciens diplômés vous racontent leur expérience et leur parcours professionnel.",
      "link": "raconter"
    },{
      "video": "CEDES_01.mp4",
      "poster": ["BernadetteCabouretLaurioux.jpg","XavierHelary.jpg","MichelDepeyre.jpg","JacquelineBayon.jpg","StephaneFrioux.jpg","DominiqueValerian.jpg","MarianneThivend.jpg"],
      "title": "Guider",
      "text": "Les professeurs et les maîtres de conférence vous guident pour trouver votre voie.",
      "link": "guider"
    },{
      "video": "CEDES_01.mp4",
      "poster": ["BrunoGalland.jpg","ClarisseDespierres.jpg","XavierDeLaSelle.jpg", "YvanPerreton.jpg","LaurenceKhamkham.jpg", "IsabelleRiveDore.jpg", "ClaireMoyrand.jpg", "ClemencePornon.jpg", "GenevieveMichelin.jpg"],
      "title": "Conseiller",
      "text": "Les professionnels des secteurs qui embauchent vous conseillent pour construire votre projet.",
      "link": "conseiller"
    }

  ]

} -->
