@import './../../assets/sass/app'

.profile
  position: relative
  width: 0%
  height: 100vh
  background: white
  float: right
  display: block
  transition: all 0.5s
  &__buttons
    left: -12vw
    transition: all 0.5s
    position: absolute
    top: 11%
    // right: 4vw
    text-align: right
  &__button
    height: 45px
    &:first-child
      margin-top: 2vw
    margin-top: 1vw
    margin-bottom: 1vw
    display: flex
    text-align: center
    max-width: 10vw
  &__wrapper
    margin-top: 20%
    height: 70%
    display: flex
    flex-direction: column
    overflow: scroll
    &--content
      transition: visibility 0s, opacity 0.5s linear
      transition: all 0.5s
      position: relative
      width: 70%
      align-self: center
  &__content
    &--title
      +BrandonBlk
    &--text
      color: $cGrisClair
      font-size: 0.8vw
      +BrandonReg
      a
        +BrandonBld
        text-decoration: none
.player
  z-index: -1

.buttons
  width: 140px
  text-shadow: rgba(0,0,0,.5) 0px 0px 5px
  // width: 100%
  font-size: 0.6vw
  // color: $cBlanc
  padding: 0.3vw 1vw 0.3vw 1vw
  &__close
    font-size: 1vw
    border: none
    background: $cNoir
    padding: 0.2vw 1.2vw 0.2vw 1.2vw
.btn
  color: $cBlanc
.section
  z-index: 0
  position: relative
  width: 100vw
.buttons2
  border-radius: 1vw
  // width: 140px
  text-shadow: rgba(0,0,0,.5) 0px 0px 5px
  // width: 100%
  font-size: 0.6vw
  // color: $cBlanc
  padding: 0.3vw 1vw 0.3vw 1vw
  &__close
    font-size: 1vw
    border: none
    background: $cNoir
    padding: 0.2vw 1.2vw 0.2vw 1.2vw
