@import './../../assets/sass/app'

.bg
  height: 100vh
  width: 100vw
  position: absolute
  background-color: $cGrisClairClair
  background-image: url('~@/assets/medias/style/Trame_Blanc.png')
.center
  text-align: center
.section
  display: flex
  vertical-align: middle
  justify-content: center
  align-items: center
  vertical-align: middle
  height: 90vh
  width: 100vw
  margin-top: 8vh

  &__partenaires
    line-height: 2vw
    margin: 0 auto
    width: 50%
    li  p
      color: $cGrisClair
    li
      color: $cVertFonce

    &--titre
      +BrandonBlk
      color: $cVertFonce
      font-size: 3vw
      margin: 0
    &--subTitre
      +BrandonMed
      color: $cGrisClair
      font-size: 1.2vw
    &--text
      +BrandonMed
      color: $cGrisClair


// .logo
//   display: inline-block
//   margin: 0 auto
  .mrg
    margin: 2vw
.region
  margin: 0

.regionpartenaires
  text-align: center
.logo
  text-align: right
  display: flex
  hr
    color: black
    background: black
    height: 43px
    width: 3px
    margin-left: 1em
    border: none
    margin-right: 1em
  img
    padding-right: 1vw

.cont
  margin-right: 5vw
  display: flex
  flex-direction: column
  text-align: center
  vertical-align: middle
  justify-content: center
