<template>

  <section class="bg">

    <section v-if="partenaires" class="section">

      <div class="section__partenaires">

        <h1 class="section__partenaires--titre">Partenaires</h1>

        <h2 class="section__partenaires--subTitre">
          Les Services d’information d’orientation et d’insertion professionnelle
          des universités Lumière Lyon 2, <br>Jean Moulin Lyon 3, Jean Monnet Saint-Etienne
          remercient tout particulièrement les personnes qui ont accepté de témoigner, pour
          leur disponibilité et leur implication.
        </h2>

        <p class="section__partenaires--text">Nous remercions également toutes les personnes qui nous ont permis de mener à bien ce projet au sein des :

          <ul>

            <li><p>Services statistiques et observatoires des formations et de l’insertion</p></li>

            <li><p>Bureaux d’aide à l’insertion professionnelle et les bureaux des stages des composantes</p></li>

            <li><p>Services juridiques</p></li>

            <li><p>Services audiovisuels</p></li>

            <li><p>Services communication</p></li>

            <li><p>Services informatiques</p></li>

          </ul>

        </p>

      </div>

      <div class="cont">

        <div class="logo">

          <a href="https://www.universite-lyon.fr/"><img :src="tools.pathFile('04_black.png', 'logo')" ></img></a>

          <hr/>

          <a href="https://www.univ-lyon2.fr/"><img :src="tools.pathFile('01_black.png', 'logo')" ></img></a>

          <a href="http://www.univ-lyon3.fr/"><img :src="tools.pathFile('03_black.png', 'logo')" ></img></a>

          <a href="https://www.univ-st-etienne.fr/"><img :src="tools.pathFile('05_black.png', 'logo')" ></img></a><br>

        </div>

        <div class="regionpartenaires">

          <h2 class="section__partenaires--subTitre">Avec le soutien de la Région Auvergne-Rhône-Alpes </h2>

          <img class="region":src="tools.pathFile('02_black.png', 'logo')" ></img>

        </div>

      </div>

    </section>

    <section v-if="apropos" class="section">

      <div class="section__partenaires center">

        <h1 class="section__partenaires--titre">A propos</h1>

        <p class="section__partenaires--text">
          Les services d’information d’orientation et d’insertion professionnelle des universités Lumière Lyon 2, <br>Jean Moulin Lyon 3, Jean Monnet Saint-Etienne vous offrent l’opportunité de découvrir plusieurs illustrations de parcours professionnels après des études d’Histoire.
          A partir de la réalité observée sur le territoire Auvergne-Rhône-Alpes, ces travaux proposent de nombreux témoignages vidéo de diplômés, d’enseignants-chercheurs issus des trois universités partenaires ainsi que d’employeurs.
          <br>Ce web-documentaire vise à montrer aux lycéens, aux familles et aux étudiants des situations représentatives et concrètes issues de la réalité du terrain, sans pour autant dresser une liste exhaustive de tous les débouchés accessibles aux diplômés d’Histoire.
          Ce projet a été financé par la Région Auvergne-Rhône-Alpes.
        </p>

      </div>

      <div class="cont">

        <div class="logo">

          <a href="https://www.universite-lyon.fr/"><img :src="tools.pathFile('04_black.png', 'logo')" ></img></a>

          <hr/>

          <a href="https://www.univ-lyon2.fr/"><img :src="tools.pathFile('01_black.png', 'logo')" ></img></a>

          <a href="http://www.univ-lyon3.fr/"><img :src="tools.pathFile('03_black.png', 'logo')" ></img></a>

          <a href="https://www.univ-st-etienne.fr/"><img :src="tools.pathFile('05_black.png', 'logo')" ></img></a><br>

        </div>

        <div class="regionpartenaires">

          <h2 class="section__partenaires--subTitre">Avec le soutien de la Région Auvergne-Rhône-Alpes </h2>

          <img class="region":src="tools.pathFile('02_black.png', 'logo')" ></img>

        </div>

      </div>

    </section>

    <section v-if="mentionslegales" class="section">

      <div class="section__partenaires">

        <h1 class="section__partenaires--titre">Mentions légales</h1>

        <p class="section__partenaires--text">

            Informations éditeur : directeur(s) de la publication :
            <br>
            La présidente de l’université Lumière Lyon 2, le président de l’université Jean Moulin Lyon 3, la présidente de l’université Jean Monnet Saint-Etienne.
            <br>
            Hébergement : Université Jean Moulin Lyon 3
            <br>
            Conception : Agence MUTE
            <br>
            Droits d’auteur et copyright : Services d’information d’orientation et d’insertion professionnelle des universités Lumière Lyon 2, Jean Moulin Lyon 3, Jean Monnet Saint-Etienne.
            <br>
            Crédits photographiques/images :
            <br>
            Université Lumière Lyon 2 : Direction de l’action culturelle et de la diffusion des savoirs, service logistique et audiovisuel
            <br>
            Université Jean Moulin Lyon 3 : Direction du numérique, pôle audiovisuel et multimédia
            <br>
            Université Jean Monnet Saint-Etienne : Direction du système d’information, pôle production TICE et services.
            <br>
            Images Département de la Savoie
            <br>

          </p>

      </div>

    </section>

  </section>

</template>

<script>

import * as tools from '@/tools/tools'

export default {

  data () {

    return { tools}

  },

  mounted(){

    console.log(this.$route)

  },

  computed : {

    partenaires: function(){ return this.$route.params.page === "partenaires" ? true : false },

    apropos: function(){ return this.$route.params.page === "apropos" ? true : false },

    mentionslegales: function(){ return this.$route.params.page === "mentionslegales" ? true : false },

  }


}

</script>

<style scoped lang="sass" type="text/scss" rel="stylesheet/scss" src="./page.sass"></style>
