<template>

  <section class="bg">


  <section class="section">

    <!-- <loading ref="loadedCategories"></loading> -->

    <div class="section__partenaires">

      <h1 class="section__partenaires--titre">Partenaires</h1>

      <h2 class="section__partenaires--subTitre">Les Services d’information d’orientation et d’insertion professionnelle
        des universités Lumière Lyon 2, Jean Moulin Lyon 3, Jean Monnet Saint-Etienne
        remercient tout particulièrement les personnes qui ont accepté de témoigner, pour
        leur disponibilité et leur implication.</h2>

        <p class="section__partenaires--text">Nous remercions également toutes les personnes qui nous ont permis de mener à bien ce projet au sein des :

          <ul>

            <li><p>Services statistiques et observatoires des formations et de l’insertion</p></li>

            <li><p>Bureaux d’aide à l’insertion professionnelle et les bureaux des stages des composantes</p></li>

            <li><p>Services juridiques</p></li>

            <li><p>Services audiovisuels</p></li>

            <li><p>Services communication</p></li>

            <li><p>Services informatiques</p></li>

          </ul>

        </p>

    </div>

    <div class="logo">

      <div class="">

        <a href="https://www.auvergnerhonealpes.fr/"><img class="mrg" :src="tools.pathFile('02_black.png', 'logo')" ></img></a>

        <a href="https://www.universite-lyon.fr/"><img class="mrg" :src="tools.pathFile('04_black.png', 'logo')" ></img></a>

      </div>

      <div class="">

        <a href="http://www.univ-lyon3.fr/"><img class="mrg" :src="tools.pathFile('03_black.png', 'logo')" ></img></a>

        <a href="https://www.univ-lyon2.fr/"><img class="mrg" :src="tools.pathFile('01_black.png', 'logo')" ></img></a>

        <a href="https://www.univ-st-etienne.fr/"><img class="mrg" :src="tools.pathFile('05_black.png', 'logo')" ></img></a>

      </div>

      <div class="regionpartenaires">

        <h2 class="section__partenaires--subTitre">Avec le soutien de la Région Auvergne-Rhône-Alpes </h2>

        <a href="https://www.auvergnerhonealpes.fr/"><img class="region":src="tools.pathFile('02_black.png', 'logo')" ></img></a>

      </div>

    </div>

  </section>
</section>
</template>

<script>

import loading from'@/components/loading/loading'

import * as tools from '@/tools/tools'

import store  from "@/store"

export default {

  data () { return { state: false, tools } },

  components : { loading }

}

</script>

<style scoped lang="sass" type="text/scss" rel="stylesheet/scss" src="./partenaires.sass"></style>
