@import './../../assets/sass/app'
.background
  background: white
  // background: black
  width: 100vw
  position: absolute
  z-index: 104
.first
  background: $cJaune
  right: 0%
  width: 0vw
  position: absolute
  z-index: 105
  transition: all 0.2s
.second
  right: 0%
  transition: all 0.2s
  background: $cBleu
  width: 0vw
  position: absolute
  z-index: 106
.third
  transition: all 0.2s
  right: 0%
  background: $cRouge
  width: 0vw
  position: absolute
  z-index: 107
.wrapper
  z-index: 1
  position: absolute
  &__Loading
    bottom: 30%
    left: 15%
    .shift
      margin-left: 6vw
    .title
      // font-size: 1vw

img
  filter: grayscale(100)
  padding-left: 2em

.logo
  position: absolute
  left: 11%
  bottom: 19%
  position: absolute

.shutterHeightShort
  // height: 90vh
  // top: 10%

.startsize
  height: 100vh

.transition
  transition: all 0.5s

.size
  width: 100vw

.sizeLeft
  width: 100vw
  right: 0%
// .loading
  // position: absolute
  height: 100vh
