<template>

  <div v-if="!mount" class="loading">

    <div id="background"  class="background startsize"></div>

    <div id="first"  class="first startsize"></div>

    <div id="second"  class="second startsize"></div>

    <div id="third"  class="third startsize"></div>

  </div>

</template>

<script>

const frame  = () => import('@/components/frame/frame')

import { TweenMax, Power2, TimelineLite } from "gsap"

import store  from "@/store"

import * as tools from '@/tools/tools'


export default {

  props: ['mount', 'load'],

  data () { return {} },

  methods:{

    shutter: function(target, page){

      console.log("<==========| SHUTTER |==========>")

      let timeLine = new TimelineMax({})

      timeLine

      .to(document.getElementById("first"), 0.2, {ease: Power0.easeNone, width:"100vw"})

      .to(document.getElementById("second"), 0.2, {ease: Power0.easeNone, width:"100vw"})

      .to(document.getElementById("third"), 0.2, {ease: Power0.easeNone, width:"100vw"})

      .to(document.getElementById("third"), 0.2, {ease: Power0.easeNone, width:"100vw"})

      if ( page ){

        timeLine.add( () => { this.$router.push( { name: ':category' , params: { category: target } } ) }, 1.2 )

      } else {

        timeLine.add( () => {this.$router.push({ name: target })}, 1)

      }


      timeLine.play(0)

    },

    shutterForward: (direction) => {

      console.log("<==========| SHUTTER FORWARD |==========>")

      let timeLine = new TimelineMax({})

      if( direction ) {

        timeLine

        .to(document.getElementById("first"), 0.2, {ease: Power0.easeNone, left:"0%",width:"100vw"})

        .to(document.getElementById("second"), 0.2, {ease: Power0.easeNone, left:"0%",width:"100vw"})

        .to(document.getElementById("third"), 0.2, {ease: Power0.easeNone, left:"0%",width:"100vw"})

      } else {

        timeLine

        .to(document.getElementById("first"), 0.2, {ease: Power0.easeNone, width:"100vw"})

        .to(document.getElementById("second"), 0.2, {ease: Power0.easeNone, width:"100vw"})

        .to(document.getElementById("third"), 0.2, {ease: Power0.easeNone, width:"100vw"})

      }


    },
    shutterBack: function(direction) {

      console.log("<==========| SHUTTER BACK |==========>")

      document.getElementById("first").style.transition = "all 0.2s"

      document.getElementById("second").style.transition = "all 0.2s"

      document.getElementById("third").style.transition = "all 0.2s"

      let timeLine = new TimelineMax()

      if (direction) {

        timeLine

        .to(document.getElementById("third"), 0.1, {ease: Power0.easeNone, left:"0%",width:"0vw"})

        .to(document.getElementById("second"), 0.1, {ease: Power0.easeNone, left:"0%",width:"0vw"})

        .to(document.getElementById("first"), 0.1, {ease: Power0.easeNone, left:"0%",width:"0vw"})

        .to(document.getElementById("background"), 0.1, {ease: Power0.easeNone, left:"0%",width:"0vw"})

        timeLine.play(0)

      } else {

        timeLine

        .to(document.getElementById("third"), 0.1, {ease: Power0.easeNone, right:"0%",left:"inherit",width:"0vw"})

        .to(document.getElementById("second"), 0.1, {ease: Power0.easeNone, right:"0%",left:"inherit",width:"0vw"})

        .to(document.getElementById("first"), 0.1, {ease: Power0.easeNone, right:"0%",left:"inherit",width:"0vw"})

        .to(document.getElementById("background"), 0.1, {ease: Power0.easeNone, right:"0%",left:"inherit",width:"0vw"})

        timeLine.play(0)

      }

    },

  },

  mounted(){

    if ( !store.getters.getPreLoadingScreen("intro") ) {

      let timeLine = new TimelineMax({})

      timeLine.add( () => { this.shutterForward(false) } )

      this.intro = true

    }

    store.watch( (state) => { return store.getters.getLoadingScreen("intro") },

    () => {

      if ( store.getters.getLoadingScreen("intro") ) {

        let timeLine = new TimelineMax({})

        timeLine

        .add( () => { this.shutterBack(true) }, 0.5)

        .add( () => { store.commit('SET_LOADING_CONTENT', { content: 'titre', bool : true } ) }, 1)

        store.commit('SET_LOADING_STATE', { screen: 'intro', bool : false } )

      }

    }, { deep: true } )

    store.watch( (state) => { return store.getters.getPreLoadingScreen("introNext") },

    () => {

      if ( store.getters.getPreLoadingScreen("introNext") ) {

        let timeLinePreReload = new TimelineMax({})

        timeLinePreReload

        .add( () => { this.shutterForward() } )

        .add( () => { store.commit('SET_SRC_VIDEO', { screen: 'intro', bool : true } ) }, 1)

        .add( () => { store.commit('SET_LOADING_CONTENT', { content: 'titreNext', bool : true } ) }, 1)

        store.commit('SET_PRELOADING_STATE', { screen: 'introNext', bool : false } )

      }

    }, { deep: true } )

    store.watch( (state) => { return store.getters.getLoadingScreen("introNext") },

    () => {

      if ( store.getters.getLoadingScreen("introNext") ) {

        let timeLineReverse = new TimelineMax({})

        timeLineReverse

        .add( () => { this.shutterBack(false) } )

        .add( () => { store.commit('SET_LOADING_CONTENT', { content: 'titreNextDraw', bool : true } ) }, 1)

        store.commit('SET_LOADING_STATE', { screen: 'introNext', bool : false } )

      }

    }, { deep: true } )

    store.watch( (state) => { return store.getters.getPreLoadingScreen("sommaire") },

    () => {


      if ( store.getters.getPreLoadingScreen("sommaire") ) {

        let timeLineReverse = new TimelineMax({})

        timeLineReverse

        .add( () => { this.shutter('sommaire', false) } )

        store.commit('SET_PRELOADING_STATE', { screen: 'sommaire', bool : false } )

      }

    }, { deep: true } )

    store.watch( (state) => { return store.getters.getLoadingScreen("sommaire") },

    () => {

      if ( store.getters.getLoadingScreen("sommaire") ) {

        document.getElementById("third").classList.toggle("size")

        document.getElementById("second").classList.toggle("size")

        document.getElementById("first").classList.toggle("size")

        let timeLineReverse = new TimelineMax({})

        timeLineReverse

        .add( () => { this.shutterBack(true) } )

        .add( () => { store.commit('SET_LOADING_CONTENT', { content: 'categories', bool : true } ) }, 1)

        store.commit('SET_LOADING_STATE', { screen: 'sommaire', bool : false } )

      }

    }, { deep: true } )

    store.watch( (state) => { return store.getters.getPreLoadingScreenListes("listes").bool },

    () => {

      if ( store.getters.getPreLoadingScreen("listes").bool ) {

        let target = store.getters.getPreLoadingScreen("listes").category

        let timeLineReverse = new TimelineMax({})

        timeLineReverse

        // .add( () => { this.shutterForwardListes(target) } )

        .add( () => { this.shutter(target, true) } )

        // store.commit('SET_PRELOADING_STATE_LISTES', { screen: 'listes', bool : false , category: ''} )

      } else {

        let timeLineReverse = new TimelineMax({})

        timeLineReverse

        .add( () => { this.shutterForward() } )

        // .add( () => { store.commit('SET_LOADING_CONTENT', { content: 'listes', bool : false } ) } )

        .add( () => { this.$router.push( { name: 'sommaire'} ) }, 1.2)

        // store.commit('SET_PRELOADING_STATE_LISTES', { screen: 'listes', bool : false , category: ''} )

      }

    }, { deep: true } )

    store.watch( (state) => { return store.getters.getLoadingScreen("listes") },

    () => {

      if ( store.getters.getLoadingScreen("listes") ) {

        document.getElementById("third").classList.toggle("sizeLeft")

        document.getElementById("third").style.transition = "none"

        document.getElementById("second").classList.toggle("size")

        document.getElementById("second").style.transition = "none"

        document.getElementById("first").classList.toggle("size")

        document.getElementById("first").style.transition = "none"

        let timeLineReverse = new TimelineMax({})

        timeLineReverse

        .add( () => { this.shutterBack(false) } )

        .add( () => { store.commit('SET_LOADING_CONTENT', { content: 'listes', bool : true } ) } )

        store.commit('SET_LOADING_STATE', { screen: 'listes', bool : false } )

      }

    }, { deep: true } )

    store.watch( (state) => { return store.getters.getPreloadingScreenProfile("profile") },

    () => {

      if ( store.getters.getPreloadingScreenProfile("profile").bool ) {

        let profile = store.getters.getPreloadingScreenProfile("profile")

        let timeLineReverse = new TimelineMax({})

        timeLineReverse

        .add( () => { this.shutterForward(true) } )

        .add( () => { this.$router.push( { name: ':profile' , params: { category: profile.category, profile: profile.slug } } ) }, 1.2 )

      } else {

        let timeLineReverse = new TimelineMax({})

        let profile = store.getters.getPreloadingScreenProfile("profile")

        timeLineReverse

        .add( () => { this.shutterForward(true) } )

        .add( () => { this.$router.push( { name: ':category' , params: { category: profile.category } } ) }, 1.2 )

        timeLineReverse.play(0)

      }

    }, { deep: true } )

    store.watch( (state) => { return store.getters.getLoadingScreen("profile") },

    () => {

      if ( store.getters.getLoadingScreen("profile") ) {

        document.getElementById("background").classList.toggle("sizeLeft")

        document.getElementById("background").style.transition = "none"

        document.getElementById("third").classList.toggle("sizeLeft")

        document.getElementById("third").style.transition = "none"

        document.getElementById("second").classList.toggle("size")

        document.getElementById("second").style.transition = "none"

        document.getElementById("first").classList.toggle("size")

        document.getElementById("first").style.transition = "none"

        let timeLineReverse = new TimelineMax({})

        timeLineReverse

        .add( () => { store.commit('SET_SRC_VIDEO', { screen: 'profile', bool : true } ) } )

        store.commit('SET_LOADING_STATE', { screen: 'profile', bool : false } )

        store.commit('SET_SRC_VIDEO', { screen: 'profile', bool : false } )

      } else {

        // let timeLineReverse = new TimelineMax({})

        // timeLineReverse

        // .add( () => { this.shutterForward(true) } )

      }

    }, { deep: true } )

    store.watch( (state) => { return store.getters.getLoadingContent("profile") },

    () => {

      if ( store.getters.getLoadingContent("profile") ) {

        let timeLineReverse = new TimelineMax({})

        timeLineReverse

        .add( () => { this.shutterBack(false) } , 0.5)

        .add( () => { store.commit('SET_LOADING_CONTENT', { content: 'profile', bool : true } ) }, 2)

        .add( () => { store.commit('SET_LOADING_CONTENT', { content: 'profile', bool : false } ) }, 2)

        // store.commit('SET_LOADING_CONTENT', { screen: 'profile', bool : false } )

      }

    }, { deep: true } )

  },

  components: { frame }

  }

</script>

<style scoped lang="sass" type="text/scss" rel="stylesheet/scss" src="./loading.sass">
