<template>

  <section class="bg">

    <router-view name="menu"></router-view>

  <section class="section">

    <!-- <loading ref="loadedCategories"></loading> -->

    <div class="section__partenaires">

      <h1 class="section__partenaires--titre">Mentions légales</h1>

        <p class="section__partenaires--text">
          Informations éditeur : directeur(s) de la publication :<br>
          La présidente de l’université Lumière Lyon 2, le président de l’université Jean Moulin Lyon 3, la présidente de l’université Jean Monnet Saint-Etienne. <br>
          Hébergement : Université Jean Moulin Lyon 3<br>
          Conception : Agence MUTE<br>
          Droits d’auteur et copyright : Services d’information d’orientation et d’insertion professionnelle des universités Lumière Lyon 2, Jean Moulin Lyon 3, Jean Monnet Saint-Etienne.<br>
          Crédits photographiques/images : <br>
          Université Lumière Lyon 2 : Direction de l’action culturelle et de la diffusion des savoirs, service logistique et audiovisuel<br>
          Université Jean Moulin Lyon 3 : Direction du numérique, pôle audiovisuel et multimédia <br>
          Université Jean Monnet Saint-Etienne : Direction du système d’information, pôle production TICE et services.<br>
          Images Département de la Savoie<br></p>

    </div>

  </section>
</section>
</template>

<script>

import loading from'@/components/loading/loading'

import * as tools from '@/tools/tools'

import store  from "@/store"

export default {

  data () { return { state: false, tools } },

  components : { loading }

}

</script>

<style scoped lang="sass" type="text/scss" rel="stylesheet/scss" src="./mentions.sass"></style>
