@import './../../assets/sass/app'

.bg
  height: 100vh
  width: 100vw
  position: absolute
  background-color: $cGrisClairClair
  background-image: url('~@/assets/medias/style/Trame_Blanc.png')

.section
  text-align: center
  display: flex
  vertical-align: middle
  justify-content: center
  align-items: center
  vertical-align: middle
  height: 90vh
  width: 100vw
  margin-top: 8vh

  &__partenaires
    line-height: 3vw
    // display: inline-block
    margin: 0 auto
    width: 80%
    li  p
      color: $cGrisClair
    li
      color: $cVertFonce

    &--titre
      +BrandonBlk
      color: $cVertFonce
      font-size: 3vw
      margin: 0
    &--subTitre
      +BrandonMed
      color: $cGrisClair
      font-size: 1.2vw
    &--text
      +BrandonMed
      color: $cGrisClair

.logo
  display: inline-block
  margin: 0 auto
  .mrg
    margin: 2vw
  // width: 50%
.region
  margin: 0

.regionpartenaires
  text-align: center
